---
import Layout from "../../layouts/Layout.astro";
const MAPNAME = "1862 - Singapore map";
---

<Layout
  title={`Historical Maps of Singapore: ${MAPNAME} - NUS Libraries - Digitised by Department of Geography, National University of Singapore`}
>
  <Fragment slot="content">
    <h2 class="mt-4">{MAPNAME}</h2>
    <h3>Year of Publication</h3>
    <p>1862</p>
    <h3>Description</h3>
    <p>
      This map shows south-eastern/central part of Singapore with detailed
      proposal on roads, water features, government buildings (Temporary
      Artellary Barrack, Central Police Station, Telegraph Station, Arsenal,
      Temporary Police Office, Venus Bridge & more..) It also shows proposed
      site for Kallang Gaswork.
    </p>
    <h3>Credits</h3>
    <p>
      This map was scanned by Sakinah Yusof, Department of Geography, National
      University of Singapore, and georeferenced by Low Taoyang Isaac.
    </p>
    <h3>Suggested Citation</h3>
    <p>
      [Jules M. Moniot] 1862. Singapore, Scale unclear. London: Publisher not
      given. In: "Historical Maps of Singapore, digitised by Department of
      Geography, National University of Singapore, made available by NUS
      Libraries." https://libmaps.nus.edu.sg.
    </p>
    <h3>Rights and Restrictions</h3>
    <p>
      SLA is the copyright owners of the map. Please contact
      <a href="mailto:sla_enquiry@sla.gov.sg">sla_enquiry@sla.gov.sg</a>
       if you wish to use, adapt, or reuse selected map contents.
    </p>
    <h3>Georeferencing Information</h3>
    <h4>Ground Control Points</h4>
    <a href="/gcp/1862_gcp.txt" download>Download here</a>
  </Fragment>
</Layout>
