---
import Layout from "../../layouts/Layout.astro";
const MAPNAME = "1862 - Singapore map";
---

<Layout
  title={`Historical Maps of Singapore: ${MAPNAME} - NUS Libraries - Digitised by Department of Geography, National University of Singapore`}
>
  <Fragment slot="content">
    <h2 class="mt-4">{MAPNAME}</h2>
    <h3>Year of Publication</h3>
    <p>1862</p>
    <h3>Description</h3>
    <p>
      This map shows south-eastern/central part of Singapore with detailed
      proposal on roads, water features, government buildings (Temporary
      Artellary Barrack, Central Police Station, Telegraph Station, Arsenal,
      Temporary Police Office, Venus Bridge & more..) It also shows proposed
      site for Kallang Gaswork.
    </p>
    <h3>Credits</h3>
    <p>
      This map was scanned by Sakinah Yusof, Department of Geography, National
      University of Singapore, and georeferenced by Low Taoyang Isaac.
    </p>
    <h3>Suggested Citation</h3>
    <p>
      [Jules M. Moniot] 1862. Singapore, Scale unclear. London: Publisher not
      given. In: "Historical Maps of Singapore, digitised by Department of
      Geography, National University of Singapore, made available by NUS
      Libraries." https://libmaps.nus.edu.sg.
    </p>
    <h3>Rights and Restrictions</h3>
    <p>
      SLA is the copyright owners of the map. Please contact
      <a href="mailto:sla_enquiry@sla.gov.sg">sla_enquiry@sla.gov.sg</a>
       if you wish to use, adapt, or reuse selected map contents.
    </p>
    <h3>Georeferencing Information</h3>
    <h4>Ground Control Points</h4>
    <table>
      <tr>
        <td>11.173258</td><td>10.964607</td><td>372051.372782</td><td
          >142083.169254</td
        >
      </tr>
      <tr>
        <td>11.896557</td><td>10.370628</td><td>372093.441616</td><td
          >141917.539756</td
        >
      </tr>
      <tr>
        <td>9.806310</td><td>21.301902</td><td>372788.635714</td><td
          >143699.997141</td
        >
      </tr>
      <tr>
        <td>9.518510</td><td>17.571375</td><td>372401.946399</td><td
          >143179.957559</td
        >
      </tr>
      <tr>
        <td>10.124341</td><td>23.171391</td><td>372999.932387</td><td
          >143946.589300</td
        >
      </tr>
      <tr>
        <td>9.374533</td><td>23.388701</td><td>372916.394442</td><td
          >144025.285361</td
        >
      </tr>
      <tr>
        <td>6.511180</td><td>22.208134</td><td>372387.226717</td><td
          >144119.477216</td
        >
      </tr>
      <tr>
        <td>11.139711</td><td>6.987952</td><td>371684.491978</td><td
          >141500.096977</td
        >
      </tr>
      <tr>
        <td>11.436257</td><td>7.025731</td><td>371731.058738</td><td
          >141484.221945</td
        >
      </tr>
      <tr>
        <td>11.520192</td><td>11.090260</td><td>372110.471997</td><td
          >142065.248107</td
        >
      </tr>
      <tr>
        <td>12.430444</td><td>10.635985</td><td>372190.376323</td><td
          >141919.197815</td
        >
      </tr>
      <tr>
        <td>8.469525</td><td>17.648148</td><td>372268.802487</td><td
          >143275.085327</td
        >
      </tr>
      <tr>
        <td>5.675638</td><td>11.921137</td><td>371380.065293</td><td
          >142693.529997</td
        >
      </tr>
      <tr>
        <td>3.945396</td><td>10.671498</td><td>371008.589550</td><td
          >142660.721598</td
        >
      </tr>
      <tr>
        <td>1.485792</td><td>7.583914</td><td>370400.311250</td><td
          >142440.587825</td
        >
      </tr>
      <tr>
        <td>10.579392</td><td>25.070481</td><td>373248.644724</td><td
          >144179.212482</td
        >
      </tr>
      <tr>
        <td>12.223291</td><td>27.629025</td><td>373720.662335</td><td
          >144403.315014</td
        >
      </tr>
      <tr>
        <td>11.152487</td><td>2.522121</td><td>371294.296024</td><td
          >140859.159054</td
        >
      </tr>
      <tr>
        <td>9.407473</td><td>6.375847</td><td>371401.187904</td><td
          >141563.613588</td
        >
      </tr>
      <tr>
        <td>8.519992</td><td>12.720833</td><td>371819.891867</td><td
          >142572.074980</td
        >
      </tr>
      <tr>
        <td>8.511418</td><td>13.066419</td><td>371855.875272</td><td
          >142620.758411</td
        >
      </tr>
      <tr>
        <td>5.483347</td><td>20.148177</td><td>372052.637471</td><td
          >143899.404024</td
        >
      </tr>
      <tr>
        <td>5.911695</td><td>10.426002</td><td>371273.543830</td><td
          >142457.765932</td
        >
      </tr>
      <tr>
        <td>4.806987</td><td>23.016332</td><td>372222.584096</td><td
          >144377.432098</td
        >
      </tr>
      <tr>
        <td>4.834043</td><td>23.415114</td><td>372267.034185</td><td
          >144432.994709</td
        >
      </tr>
      <tr>
        <td>4.802543</td><td>22.165781</td><td>372148.765198</td><td
          >144266.306875</td
        >
      </tr>
      <tr>
        <td>7.690276</td><td>7.092528</td><td>371199.173716</td><td
          >141816.392601</td
        >
      </tr>
      <tr>
        <td>7.937742</td><td>8.771241</td><td>371387.689718</td><td
          >142041.950343</td
        >
      </tr>
      <tr>
        <td>12.375564</td><td>24.252418</td><td>373424.996483</td><td
          >143900.828367</td
        >
      </tr>
      <tr>
        <td>8.360503</td><td>3.862499</td><td>370989.766613</td><td
          >141292.560650</td
        >
      </tr>
      <tr>
        <td>6.442370</td><td>2.056453</td><td>370564.315762</td><td
          >141222.710510</td
        >
      </tr>
      <tr>
        <td>2.962295</td><td>16.330969</td><td>371356.876722</td><td
          >143587.164198</td
        >
      </tr>
      <tr>
        <td>3.372515</td><td>17.081000</td><td>371477.526963</td><td
          >143655.426834</td
        >
      </tr>
      <tr>
        <td>7.059533</td><td>9.968668</td><td>371390.426841</td><td
          >142311.208521</td
        >
      </tr>
      <tr>
        <td>9.533296</td><td>7.507113</td><td>371500.418763</td><td
          >141712.190656</td
        >
      </tr>
      <tr>
        <td>9.526330</td><td>8.132486</td><td>371559.156380</td><td
          >141808.499182</td
        >
      </tr>
      <tr>
        <td>10.286022</td><td>26.589596</td><td>373343.928873</td><td
          >144406.370958</td
        >
      </tr>
      <tr>
        <td>9.932948</td><td>25.405577</td><td>373187.559810</td><td
          >144274.608194</td
        >
      </tr>
      <tr>
        <td>3.331911</td><td>9.089313</td><td>370774.833349</td><td
          >142479.445272</td
        >
      </tr>
      <tr>
        <td>1.734523</td><td>6.974823</td><td>370386.512433</td><td
          >142322.899820</td
        >
      </tr>
      <tr>
        <td>1.927912</td><td>6.326656</td><td>370356.349873</td><td
          >142212.568349</td
        >
      </tr>
      <tr>
        <td>2.512171</td><td>5.683006</td><td>370375.399911</td><td
          >142078.424331</td
        >
      </tr>
      <tr>
        <td>6.836233</td><td>12.321538</td><td>371551.298790</td><td
          >142650.190058</td
        >
      </tr>
      <tr>
        <td>7.281197</td><td>4.381415</td><td>370900.951656</td><td
          >141465.912690</td
        >
      </tr>
      <tr>
        <td>8.642770</td><td>7.094284</td><td>371360.666118</td><td
          >141731.753325</td
        >
      </tr>
      <tr>
        <td>5.923843</td><td>18.860493</td><td>372001.011982</td><td
          >143683.209242</td
        >
      </tr>
      <tr>
        <td>7.467062</td><td>10.003427</td><td>371450.148380</td><td
          >142274.697050</td
        >
      </tr>
      <tr>
        <td>1.212747</td><td>8.215569</td><td>370392.871265</td><td
          >142541.000708</td
        >
      </tr>
      <tr>
        <td>4.092653</td><td>14.549390</td><td>371378.961210</td><td
          >143222.764530</td
        >
      </tr>
      <tr>
        <td>4.247986</td><td>13.272530</td><td>371278.419342</td><td
          >143008.451601</td
        >
      </tr>
      <tr>
        <td>5.702483</td><td>13.231425</td><td>371475.534320</td><td
          >142869.545073</td
        >
      </tr>
      <tr>
        <td>5.515975</td><td>9.900574</td><td>371142.687820</td><td
          >142442.043697</td
        >
      </tr>
      <tr>
        <td>8.112378</td><td>19.781103</td><td>372413.340796</td><td
          >143629.194006</td
        >
      </tr>
      <tr>
        <td>9.499436</td><td>13.087760</td><td>371995.640047</td><td
          >142540.106194</td
        >
      </tr>
      <tr>
        <td>6.091714</td><td>20.070141</td><td>372143.807010</td><td
          >143829.026480</td
        >
      </tr>
      <tr>
        <td>7.918220</td><td>8.492009</td><td>371361.283480</td><td
          >141993.012912</td
        >
      </tr>
    </table>
  </Fragment>
</Layout>
