---
import Layout from "../../layouts/Layout.astro";
const MAPNAME =
  "1873 - 1:63,360 Map of the Island of Singapore and its Dependencies";
---

<Layout
  title={`Historical Maps of Singapore: ${MAPNAME} - NUS Libraries - Digitised by Department of Geography, National University of Singapore`}
>
  <Fragment slot="content">
    <h2 class="mt-4">{MAPNAME}</h2>
    <h3>Year of Publication</h3>
    <p>1873</p>
    <h3>Description</h3>
    <p>
      This map shows Singapore with detail on networks of roads, water features,
      villages, surrounding islands and boundaries of the various districts. The
      coastline of Territory of Johore along the Old Straits or Silat Tambrau is
      also shown.
    </p>
    <h3>Credits</h3>
    <p>
      This map was produced by the Surveyor General of the Straits Settlements,
      scanned by Sakinah Yusof, Department of Geography, National University of
      Singapore, and georeferenced by Richard Ho.
    </p>
    <h3>Suggested Citation</h3>
    <p>
      Surveyor General, Straits Settlements 1873. Map of the Island of Singapore
      and its Dependencies, 1:63,360. London: Edward Stanford. In: "Historical
      Maps of Singapore, digitised by Department of Geography, National
      University of Singapore made available by NUS Libraries."
      https://libmaps.nus.edu.sg.
    </p>
    <h3>Rights and Restrictions</h3>
    <p>
      SLA is the copyright owners of the map. Please contact
      <a href="mailto:sla_enquiry@sla.gov.sg">sla_enquiry@sla.gov.sg</a>
       if you wish to use, adapt, or reuse selected map contents.
    </p>
    <h3>Georeferencing Information</h3>
    <h4>Ground Control Points</h4>
    <table>
      <tr>
        <td>25777.807361</td><td>-6222.576469</td><td>380579.324811</td><td
          >157362.190966</td
        >
      </tr>
      <tr>
        <td>18331.787029</td><td>-20640.186996</td><td>370137.293184</td><td
          >137067.189537</td
        >
      </tr>
      <tr>
        <td>16241.362644</td><td>-19019.614199</td><td>367235.866548</td><td
          >139271.966863</td
        >
      </tr>
      <tr>
        <td>35087.070427</td><td>-5507.068818</td><td>393570.803844</td><td
          >158219.964009</td
        >
      </tr>
      <tr>
        <td>4589.617504</td><td>-7648.075322</td><td>351211.606992</td><td
          >155420.339933</td
        >
      </tr>
      <tr>
        <td>5732.550069</td><td>-5888.374929</td><td>352929.186688</td><td
          >158002.338975</td
        >
      </tr>
      <tr>
        <td>8426.378312</td><td>-4290.499753</td><td>356642.304858</td><td
          >160148.682195</td
        >
      </tr>
      <tr>
        <td>12531.168867</td><td>-3761.745649</td><td>362325.666453</td><td
          >160882.591722</td
        >
      </tr>
      <tr>
        <td>31168.727068</td><td>-7272.736330</td><td>387895.469476</td><td
          >155659.001555</td
        >
      </tr>
      <tr>
        <td>24116.623539</td><td>-14373.880105</td><td>378186.076850</td><td
          >145657.689216</td
        >
      </tr>
      <tr>
        <td>15932.610776</td><td>-18037.618096</td><td>366738.284648</td><td
          >140707.119094</td
        >
      </tr>
      <tr>
        <td>15835.651615</td><td>-17233.205614</td><td>366668.007409</td><td
          >141973.359170</td
        >
      </tr>
      <tr>
        <td>19749.798123</td><td>-16359.509663</td><td>372128.385804</td><td
          >143113.498869</td
        >
      </tr>
      <tr>
        <td>20018.193821</td><td>-16084.941707</td><td>372549.603313</td><td
          >143364.324371</td
        >
      </tr>
      <tr>
        <td>18455.602829</td><td>-14476.150264</td><td>370427.649245</td><td
          >145638.736393</td
        >
      </tr>
      <tr>
        <td>18671.955415</td><td>-14181.369041</td><td>370621.324632</td><td
          >146172.931212</td
        >
      </tr>
      <tr>
        <td>17645.829264</td><td>-14234.336016</td><td>369327.509544</td><td
          >146012.593391</td
        >
      </tr>
      <tr>
        <td>17721.310045</td><td>-14632.359549</td><td>369402.915945</td><td
          >145422.835961</td
        >
      </tr>
      <tr>
        <td>17151.476089</td><td>-15330.456880</td><td>368598.339905</td><td
          >144477.004819</td
        >
      </tr>
      <tr>
        <td>16932.088445</td><td>-15341.749534</td><td>368260.367721</td><td
          >144467.888036</td
        >
      </tr>
      <tr>
        <td>16882.958010</td><td>-16533.241289</td><td>368209.248835</td><td
          >142788.610348</td
        >
      </tr>
      <tr>
        <td>17706.371529</td><td>-16620.700004</td><td>369410.980440</td><td
          >142666.221904</td
        >
      </tr>
      <tr>
        <td>18117.111082</td><td>-16213.066103</td><td>369880.818509</td><td
          >143237.140230</td
        >
      </tr>
      <tr>
        <td>18764.543465</td><td>-14846.317134</td><td>370841.837554</td><td
          >145152.531943</td
        >
      </tr>
      <tr>
        <td>23090.667170</td><td>-14610.341462</td><td>376753.041823</td><td
          >145385.104866</td
        >
      </tr>
      <tr>
        <td>22961.759259</td><td>-14628.781223</td><td>376609.108202</td><td
          >145358.117312</td
        >
      </tr>
      <tr>
        <td>12119.418289</td><td>-7092.094319</td><td>361596.326722</td><td
          >156052.672653</td
        >
      </tr>
      <tr>
        <td>13066.169440</td><td>-16416.312622</td><td>362844.170159</td><td
          >142974.195724</td
        >
      </tr>
    </table>
  </Fragment>
</Layout>
