---
import Layout from "../../layouts/Layout.astro";
const MAPNAME =
  "1913 - 1:12,672 Map of Singapore Showing the Principal Residences and Places of Interest";
---

<Layout
  title={`Historical Maps of Singapore: ${MAPNAME} - NUS Libraries - Digitised by Department of Geography, National University of Singapore`}
>
  <Fragment slot="content">
    <h2 class="mt-4">{MAPNAME}</h2>
    <h3>Year of Publication</h3>
    <p>1913</p>
    <h3>Description</h3>
    <p>
      This map shows roads, railway line, buildings in residential and
      commercial areas, public buildings in Singapore town centre, Chinese
      villages, Chinese burial grounds, docks, wharves, mangrove swamp areas,
      Cluny Road Railway Station, Singapore River, Kalang River, Rochor River,
      Keppel Harbour, Kampong Rokok, Kampong Laut, Kampong Bugis, Kampong Boyan,
      Kampong Saigon, Bukit Tunggul, Mount Victoria, Mount Alma, Pearls Hill,
      Mount Faber, Botanical Gardens, Tanglin Barracks, General Hospital, and
      others Southern Singapore with detail of road networks, buildings, water
      bodies, islands and major districts of Singapore.
    </p>
    <h3>Credits</h3>
    <p>
      This map was published by Fraser and Neave Limited, Singapore, scanned by
      Sakinah Yusof, Department of Geography, National University of Singapore,
      and georeferenced by Low Taoyang Isaac.
    </p>
    <h3>Suggested Citation</h3>
    <p>
      Fraser and Neave Limited 1913. Map of Singapore Showing The Principal
      Residences and Places of Interest, 1:12,672. Singapore: Fraser and Neave
      Limited. In: "Historical Maps of Singapore, digitised by Department of
      Geography, National University of Singapore, made available by NUS
      Libraries." https://libmaps.nus.edu.sg.
    </p>
    <h3>Rights and Restrictions</h3>
    <p>
      SLA is the copyright owner of the map. Please contact
      <a href="mailto:sla_enquiry@sla.gov.sg">sla_enquiry@sla.gov.sg</a>
       if you wish to use, adapt, or reuse selected map contents.
    </p>
    <h3>Georeferencing Information</h3>
    <h4>Ground Control Points</h4>
    <table>
      <tr>
        <td>17.298429</td><td>9.986913</td><td>372336.428807</td><td
          >142202.407567</td
        >
      </tr>
      <tr>
        <td>19.280960</td><td>20.251281</td><td>373035.213544</td><td
          >145487.499631</td
        >
      </tr>
      <tr>
        <td>16.029843</td><td>7.451772</td><td>371923.590904</td><td
          >141375.363699</td
        >
      </tr>
      <tr>
        <td>19.946696</td><td>16.196658</td><td>373246.245633</td><td
          >144178.431284</td
        >
      </tr>
      <tr>
        <td>21.081227</td><td>17.732488</td><td>373623.608366</td><td
          >144670.419464</td
        >
      </tr>
      <tr>
        <td>25.030017</td><td>18.832228</td><td>374888.583813</td><td
          >145007.102429</td
        >
      </tr>
      <tr>
        <td>23.791898</td><td>18.325651</td><td>374491.482021</td><td
          >144833.943315</td
        >
      </tr>
      <tr>
        <td>27.538110</td><td>19.395214</td><td>375721.532397</td><td
          >145181.606511</td
        >
      </tr>
      <tr>
        <td>26.968665</td><td>19.306124</td><td>375550.082054</td><td
          >145149.856447</td
        >
      </tr>
      <tr>
        <td>3.825305</td><td>21.284613</td><td>368070.957721</td><td
          >145986.206037</td
        >
      </tr>
      <tr>
        <td>7.336727</td><td>22.041917</td><td>369233.803797</td><td
          >146191.258530</td
        >
      </tr>
      <tr>
        <td>16.390395</td><td>11.315797</td><td>372057.363402</td><td
          >142633.796207</td
        >
      </tr>
      <tr>
        <td>5.004169</td><td>17.489227</td><td>368398.129778</td><td
          >144747.475545</td
        >
      </tr>
      <tr>
        <td>4.601296</td><td>16.711533</td><td>368268.219102</td><td
          >144460.578444</td
        >
      </tr>
      <tr>
        <td>10.946700</td><td>13.243704</td><td>370286.762462</td><td
          >143292.528885</td
        >
      </tr>
      <tr>
        <td>10.734568</td><td>13.275233</td><td>370210.430017</td><td
          >143302.847656</td
        >
      </tr>
      <tr>
        <td>10.014306</td><td>13.177166</td><td>369982.358728</td><td
          >143275.330934</td
        >
      </tr>
      <tr>
        <td>12.979645</td><td>13.206304</td><td>370959.863808</td><td
          >143264.879872</td
        >
      </tr>
      <tr>
        <td>8.124389</td><td>20.843154</td><td>369467.346240</td><td
          >145775.516143</td
        >
      </tr>
      <tr>
        <td>7.643183</td><td>21.461210</td><td>369324.470954</td><td
          >145976.599878</td
        >
      </tr>
      <tr>
        <td>9.263699</td><td>18.958985</td><td>369807.601087</td><td
          >145138.133618</td
        >
      </tr>
      <tr>
        <td>12.962696</td><td>7.615695</td><td>370898.967389</td><td
          >141480.852796</td
        >
      </tr>
      <tr>
        <td>14.276143</td><td>9.285432</td><td>371352.067254</td><td
          >142002.083005</td
        >
      </tr>
      <tr>
        <td>15.278044</td><td>9.357141</td><td>371684.781461</td><td
          >142014.650739</td
        >
      </tr>
      <tr>
        <td>15.984316</td><td>10.620263</td><td>371920.261099</td><td
          >142423.102076</td
        >
      </tr>
      <tr>
        <td>7.551358</td><td>14.362982</td><td>369204.506188</td><td
          >143684.770225</td
        >
      </tr>
      <tr>
        <td>8.686057</td><td>12.474683</td><td>369549.788129</td><td
          >143052.943961</td
        >
      </tr>
      <tr>
        <td>8.219743</td><td>12.039675</td><td>369391.037811</td><td
          >142925.149956</td
        >
      </tr>
      <tr>
        <td>14.200718</td><td>12.259219</td><td>371352.305379</td><td
          >142950.153131</td
        >
      </tr>
      <tr>
        <td>14.758600</td><td>16.010180</td><td>371547.691742</td><td
          >144149.436814</td
        >
      </tr>
      <tr>
        <td>17.900003</td><td>19.146568</td><td>372581.900451</td><td
          >145131.842207</td
        >
      </tr>
      <tr>
        <td>18.762361</td><td>17.537355</td><td>372850.188488</td><td
          >144624.899527</td
        >
      </tr>
      <tr>
        <td>19.445615</td><td>15.823361</td><td>373082.801800</td><td
          >144070.298678</td
        >
      </tr>
      <tr>
        <td>19.026392</td><td>14.182130</td><td>372953.684876</td><td
          >143544.305959</td
        >
      </tr>
      <tr>
        <td>6.725453</td><td>22.164493</td><td>369002.135913</td><td
          >146244.867142</td
        >
      </tr>
      <tr>
        <td>0.980499</td><td>20.223257</td><td>367138.513020</td><td
          >145678.763510</td
        >
      </tr>
      <tr>
        <td>2.161478</td><td>21.533311</td><td>367527.583589</td><td
          >146066.908036</td
        >
      </tr>
      <tr>
        <td>2.869532</td><td>22.236255</td><td>367778.629578</td><td
          >146286.336253</td
        >
      </tr>
      <tr>
        <td>12.519594</td><td>19.041945</td><td>370840.129451</td><td
          >145153.388153</td
        >
      </tr>
      <tr>
        <td>19.175319</td><td>16.648798</td><td>373003.201745</td><td
          >144321.249857</td
        >
      </tr>
      <tr>
        <td>18.240345</td><td>14.188837</td><td>372673.935948</td><td
          >143541.882812</td
        >
      </tr>
      <tr>
        <td>4.291862</td><td>3.989341</td><td>368068.644800</td><td
          >140400.745842</td
        >
      </tr>
      <tr>
        <td>4.437399</td><td>4.260093</td><td>368107.009460</td><td
          >140473.506405</td
        >
      </tr>
      <tr>
        <td>4.725979</td><td>11.387038</td><td>368203.582570</td><td
          >142792.583959</td
        >
      </tr>
      <tr>
        <td>7.357280</td><td>11.270567</td><td>369067.448881</td><td
          >142699.979608</td
        >
      </tr>
      <tr>
        <td>17.358582</td><td>21.452373</td><td>372417.742040</td><td
          >145864.005727</td
        >
      </tr>
      <tr>
        <td>17.437849</td><td>13.023571</td><td>372401.999300</td><td
          >143180.199318</td
        >
      </tr>
      <tr>
        <td>14.331873</td><td>8.622086</td><td>371379.514963</td><td
          >141780.286102</td
        >
      </tr>
      <tr>
        <td>5.654844</td><td>2.984280</td><td>368512.484229</td><td
          >140044.615964</td
        >
      </tr>
      <tr>
        <td>4.895827</td><td>9.672062</td><td>368242.079522</td><td
          >142256.801638</td
        >
      </tr>
      <tr>
        <td>3.261723</td><td>10.008879</td><td>367697.036765</td><td
          >142383.801892</td
        >
      </tr>
      <tr>
        <td>12.298575</td><td>13.702493</td><td>370728.575823</td><td
          >143425.093731</td
        >
      </tr>
      <tr>
        <td>12.052981</td><td>15.262774</td><td>370662.959025</td><td
          >143937.989549</td
        >
      </tr>
      <tr>
        <td>10.096923</td><td>16.285996</td><td>370026.282057</td><td
          >144279.743705</td
        >
      </tr>
      <tr>
        <td>17.645952</td><td>18.038539</td><td>372484.166921</td><td
          >144781.819145</td
        >
      </tr>
      <tr>
        <td>5.754744</td><td>14.984227</td><td>368596.755292</td><td
          >143902.196864</td
        >
      </tr>
      <tr>
        <td>5.151572</td><td>14.195760</td><td>368409.429917</td><td
          >143651.371363</td
        >
      </tr>
      <tr>
        <td>14.178276</td><td>5.764646</td><td>371289.028385</td><td
          >140862.657452</td
        >
      </tr>
      <tr>
        <td>14.849969</td><td>5.795474</td><td>371520.803848</td><td
          >140867.419962</td
        >
      </tr>
      <tr>
        <td>15.577158</td><td>8.414403</td><td>371787.398548</td><td
          >141699.800793</td
        >
      </tr>
    </table>
  </Fragment>
</Layout>
