---
import Layout from "../../layouts/Layout.astro";
const MAPNAME = "1914 - 1:31,680 Map of Singapore";
---

<Layout
  title={`Historical Maps of Singapore: ${MAPNAME} - NUS Libraries - Digitised by Department of Geography, National University of Singapore`}
>
  <Fragment slot="content">
    <h2 class="mt-4">{MAPNAME}</h2>
    <h3>Year of Publication</h3>
    <p>1914</p>
    <h3>Description</h3>
    <p>
      This map shows southern Singapore with detail on networks of roads,
      relief, water features and buildings. Name of hills and their contours are
      shown in the map. Major features include Pasir Panjang Ridges, Kalang
      Reservoir, Catchment Area, plantations, Bukit Timah Road, Balestier Plain,
      Tanjong Rhu, Pulau Blakan Mati, Pulau Brani, Pulau Hantu and Singapore
      City.
    </p>
    <h3>Credits</h3>
    <p>
      This map was produced by the Geographical Section, General Staff, scanned
      by Sakinah Yusof, Department of Geography, National University of
      Singapore, and georeferenced by Low Taoyang Isaac.
    </p>
    <h3>Suggested Citation</h3>
    <p>
      Geographical Section, General Staff 1914. Map of Singapore, 1:31,680.
      [London]: War Office. In: "Historical Maps of Singapore, digitised by
      Department of Geography, National University of Singapore, made available
      by NUS Libraries." https://libmaps.nus.edu.sg.
    </p>
    <h3>Rights and Restrictions</h3>
    <p>
      SLA is the copyright owner of the map. Please contact
      <a href="mailto:sla_enquiry@sla.gov.sg">sla_enquiry@sla.gov.sg</a>
       if you wish to use, adapt, or reuse selected map contents.
    </p>
    <h3>Georeferencing Information</h3>
    <h4>Ground Control Points</h4>
    <table>
      <tr>
        <td>22.729422</td><td>16.107176</td><td>376405.555366</td><td
          >147420.697979</td
        >
      </tr>
      <tr>
        <td>7.243510</td><td>16.637148</td><td>363841.769064</td><td
          >148176.845639</td
        >
      </tr>
      <tr>
        <td>18.703873</td><td>13.713430</td><td>373036.146481</td><td
          >145485.674978</td
        >
      </tr>
      <tr>
        <td>16.369361</td><td>15.053928</td><td>371163.223464</td><td
          >146628.346534</td
        >
      </tr>
      <tr>
        <td>19.445016</td><td>12.691041</td><td>373613.270031</td><td
          >144649.259243</td
        >
      </tr>
      <tr>
        <td>18.976467</td><td>12.087764</td><td>373245.233878</td><td
          >144172.214539</td
        >
      </tr>
      <tr>
        <td>17.133330</td><td>12.556863</td><td>371731.549601</td><td
          >144630.143059</td
        >
      </tr>
      <tr>
        <td>14.719014</td><td>13.212481</td><td>369809.215548</td><td
          >145137.747199</td
        >
      </tr>
      <tr>
        <td>11.205884</td><td>7.642823</td><td>366734.503018</td><td
          >140704.699704</td
        >
      </tr>
      <tr>
        <td>16.147878</td><td>8.704579</td><td>370905.733756</td><td
          >141490.976797</td
        >
      </tr>
      <tr>
        <td>15.478751</td><td>10.045377</td><td>370399.934078</td><td
          >142539.469728</td
        >
      </tr>
      <tr>
        <td>16.693671</td><td>14.016130</td><td>371401.926395</td><td
          >145783.578768</td
        >
      </tr>
      <tr>
        <td>17.942250</td><td>14.183398</td><td>372420.045098</td><td
          >145873.801866</td
        >
      </tr>
      <tr>
        <td>14.170627</td><td>21.947565</td><td>369649.146500</td><td
          >152317.031871</td
        >
      </tr>
      <tr>
        <td>12.720793</td><td>22.176973</td><td>368479.685828</td><td
          >152567.857372</td
        >
      </tr>
      <tr>
        <td>8.093965</td><td>14.005289</td><td>364407.078724</td><td
          >145988.256435</td
        >
      </tr>
      <tr>
        <td>12.924275</td><td>10.270348</td><td>368202.942132</td><td
          >142796.252776</td
        >
      </tr>
      <tr>
        <td>17.171986</td><td>9.494026</td><td>371741.222125</td><td
          >142109.922237</td
        >
      </tr>
      <tr>
        <td>16.747080</td><td>9.407714</td><td>371389.325588</td><td
          >142054.624210</td
        >
      </tr>
      <tr>
        <td>16.907905</td><td>9.053692</td><td>371531.407122</td><td
          >141760.671538</td
        >
      </tr>
      <tr>
        <td>16.524936</td><td>9.126536</td><td>371200.412710</td><td
          >141817.821653</td
        >
      </tr>
      <tr>
        <td>16.721217</td><td>10.223398</td><td>371385.621414</td><td
          >142691.742150</td
        >
      </tr>
      <tr>
        <td>16.430829</td><td>8.587884</td><td>371135.392309</td><td
          >141375.078634</td
        >
      </tr>
      <tr>
        <td>16.781691</td><td>7.811800</td><td>371390.980320</td><td
          >140708.327301</td
        >
      </tr>
      <tr>
        <td>16.652651</td><td>7.996514</td><td>371298.111384</td><td
          >140859.933854</td
        >
      </tr>
      <tr>
        <td>17.127087</td><td>8.300899</td><td>371716.418471</td><td
          >141100.440585</td
        >
      </tr>
      <tr>
        <td>17.276732</td><td>8.665787</td><td>371847.122899</td><td
          >141421.116226</td
        >
      </tr>
      <tr>
        <td>17.497601</td><td>9.277820</td><td>372013.678440</td><td
          >141937.716218</td
        >
      </tr>
      <tr>
        <td>15.599420</td><td>9.148660</td><td>370491.577089</td><td
          >141876.448517</td
        >
      </tr>
      <tr>
        <td>17.652461</td><td>11.652172</td><td>372135.392529</td><td
          >143833.839932</td
        >
      </tr>
      <tr>
        <td>18.157392</td><td>12.940331</td><td>372560.314213</td><td
          >144890.543782</td
        >
      </tr>
      <tr>
        <td>18.513474</td><td>12.611026</td><td>372853.208548</td><td
          >144630.987013</td
        >
      </tr>
      <tr>
        <td>18.883016</td><td>13.472486</td><td>373177.456072</td><td
          >145294.894070</td
        >
      </tr>
      <tr>
        <td>15.825236</td><td>11.740240</td><td>370666.555217</td><td
          >143945.604566</td
        >
      </tr>
      <tr>
        <td>2.987219</td><td>13.637803</td><td>360301.746986</td><td
          >145816.238932</td
        >
      </tr>
      <tr>
        <td>23.121943</td><td>13.561413</td><td>376740.580490</td><td
          >145302.681655</td
        >
      </tr>
      <tr>
        <td>16.847166</td><td>10.440740</td><td>371485.680397</td><td
          >142850.430222</td
        >
      </tr>
      <tr>
        <td>17.896960</td><td>9.617498</td><td>372338.120776</td><td
          >142197.634115</td
        >
      </tr>
      <tr>
        <td>20.935996</td><td>18.689933</td><td>375005.787570</td><td
          >149511.481729</td
        >
      </tr>
      <tr>
        <td>19.961879</td><td>15.348169</td><td>374101.805054</td><td
          >146839.981997</td
        >
      </tr>
      <tr>
        <td>15.596307</td><td>16.703226</td><td>370663.950511</td><td
          >147919.792837</td
        >
      </tr>
      <tr>
        <td>13.613582</td><td>21.932419</td><td>369151.059985</td><td
          >152425.611918</td
        >
      </tr>
      <tr>
        <td>20.428115</td><td>12.884071</td><td>374434.909629</td><td
          >144840.366348</td
        >
      </tr>
      <tr>
        <td>15.012139</td><td>10.907703</td><td>369980.115987</td><td
          >143282.405725</td
        >
      </tr>
      <tr>
        <td>13.905844</td><td>10.681010</td><td>369068.767015</td><td
          >143114.106135</td
        >
      </tr>
      <tr>
        <td>13.530958</td><td>10.653837</td><td>368768.199747</td><td
          >143105.639451</td
        >
      </tr>
      <tr>
        <td>13.845022</td><td>12.111727</td><td>369026.698180</td><td
          >144276.158459</td
        >
      </tr>
      <tr>
        <td>12.871820</td><td>12.330092</td><td>368248.292457</td><td
          >144460.837995</td
        >
      </tr>
      <tr>
        <td>12.736729</td><td>12.826060</td><td>368160.662282</td><td
          >144891.686357</td
        >
      </tr>
      <tr>
        <td>14.486361</td><td>12.419162</td><td>369554.490069</td><td
          >144504.335582</td
        >
      </tr>
      <tr>
        <td>14.089001</td><td>14.201968</td><td>369322.979190</td><td
          >145983.359373</td
        >
      </tr>
      <tr>
        <td>15.182616</td><td>18.430616</td><td>370447.063730</td><td
          >149502.534207</td
        >
      </tr>
      <tr>
        <td>12.960312</td><td>8.117743</td><td>368210.007172</td><td
          >141083.475702</td
        >
      </tr>
      <tr>
        <td>11.047134</td><td>9.073155</td><td>366615.889401</td><td
          >141869.289774</td
        >
      </tr>
      <tr>
        <td>10.188220</td><td>12.907328</td><td>366045.446593</td><td
          >145055.937814</td
        >
      </tr>
      <tr>
        <td>19.234601</td><td>14.416799</td><td>373507.364156</td><td
          >146081.870560</td
        >
      </tr>
      <tr>
        <td>4.484033</td><td>13.073451</td><td>361466.840491</td><td
          >145287.854389</td
        >
      </tr>
      <tr>
        <td>6.773190</td><td>11.738319</td><td>363289.426428</td><td
          >144175.411539</td
        >
      </tr>
      <tr>
        <td>14.367438</td><td>7.446924</td><td>369292.622601</td><td
          >140462.347446</td
        >
      </tr>
      <tr>
        <td>14.465794</td><td>10.176249</td><td>369406.658246</td><td
          >142671.622698</td
        >
      </tr>
      <tr>
        <td>8.619032</td><td>9.727767</td><td>364753.554148</td><td
          >142519.365709</td
        >
      </tr>
      <tr>
        <td>9.429284</td><td>11.934417</td><td>365372.680386</td><td
          >144325.468071</td
        >
      </tr>
      <tr>
        <td>9.234629</td><td>8.960967</td><td>365137.200749</td><td
          >141833.088087</td
        >
      </tr>
      <tr>
        <td>7.151136</td><td>9.888141</td><td>363536.468381</td><td
          >142703.568994</td
        >
      </tr>
      <tr>
        <td>6.729239</td><td>13.792025</td><td>363281.409537</td><td
          >145830.421081</td
        >
      </tr>
      <tr>
        <td>10.474102</td><td>7.952173</td><td>366151.350694</td><td
          >140902.811226</td
        >
      </tr>
      <tr>
        <td>6.210218</td><td>11.099887</td><td>362837.217329</td><td
          >143584.809646</td
        >
      </tr>
      <tr>
        <td>6.449504</td><td>10.181892</td><td>362929.821681</td><td
          >142894.245764</td
        >
      </tr>
      <tr>
        <td>15.260095</td><td>7.665006</td><td>370064.912910</td><td
          >140669.672274</td
        >
      </tr>
      <tr>
        <td>15.036504</td><td>7.204439</td><td>369774.928996</td><td
          >140393.843597</td
        >
      </tr>
      <tr>
        <td>15.792863</td><td>8.277154</td><td>370594.239385</td><td
          >141232.204024</td
        >
      </tr>
      <tr>
        <td>14.241303</td><td>6.819730</td><td>369166.809447</td><td
          >139943.945197</td
        >
      </tr>
      <tr>
        <td>11.789567</td><td>6.259256</td><td>367092.868841</td><td
          >139579.613219</td
        >
      </tr>
      <tr>
        <td>8.855964</td><td>8.442773</td><td>364916.005112</td><td
          >141335.920898</td
        >
      </tr>
      <tr>
        <td>8.349006</td><td>8.937798</td><td>364445.707296</td><td
          >141866.940710</td
        >
      </tr>
      <tr>
        <td>16.190203</td><td>7.565795</td><td>370837.854976</td><td
          >140561.381406</td
        >
      </tr>
      <tr>
        <td>15.398701</td><td>7.160236</td><td>370181.686997</td><td
          >140231.974497</td
        >
      </tr>
      <tr>
        <td>16.268743</td><td>7.064757</td><td>370898.180097</td><td
          >140139.800094</td
        >
      </tr>
      <tr>
        <td>13.729723</td><td>6.737766</td><td>368804.792577</td><td
          >139935.541352</td
        >
      </tr>
      <tr>
        <td>13.263104</td><td>6.473748</td><td>368413.340752</td><td
          >139699.929423</td
        >
      </tr>
      <tr>
        <td>12.958012</td><td>6.860232</td><td>368161.986083</td><td
          >140048.121786</td
        >
      </tr>
      <tr>
        <td>13.214084</td><td>6.503114</td><td>368372.859421</td><td
          >139769.647271</td
        >
      </tr>
      <tr>
        <td>13.762060</td><td>6.479270</td><td>368803.072782</td><td
          >139716.465914</td
        >
      </tr>
      <tr>
        <td>17.453824</td><td>8.551340</td><td>372009.432320</td><td
          >141323.636490</td
        >
      </tr>
      <tr>
        <td>12.644050</td><td>5.522174</td><td>367748.441506</td><td
          >139020.566258</td
        >
      </tr>
      <tr>
        <td>13.000595</td><td>5.673926</td><td>368054.829619</td><td
          >139149.154016</td
        >
      </tr>
      <tr>
        <td>13.248740</td><td>5.590635</td><td>368204.054917</td><td
          >139082.478882</td
        >
      </tr>
      <tr>
        <td>13.334661</td><td>5.353583</td><td>368264.380038</td><td
          >138864.990947</td
        >
      </tr>
      <tr>
        <td>13.532053</td><td>5.378042</td><td>368416.780343</td><td
          >138898.328514</td
        >
      </tr>
      <tr>
        <td>15.766221</td><td>3.348413</td><td>370117.964091</td><td
          >137098.305054</td
        >
      </tr>
      <tr>
        <td>15.593568</td><td>5.287017</td><td>370149.978738</td><td
          >138683.559266</td
        >
      </tr>
      <tr>
        <td>12.057028</td><td>5.815040</td><td>367304.247005</td><td
          >139308.638642</td
        >
      </tr>
    </table>
  </Fragment>
</Layout>
