---
import Layout from "../../layouts/Layout.astro";
const MAPNAME = "1930 - 1:50,000 Singapore Strait Western Portion";
---

<Layout
  title={`Historical Maps of Singapore: ${MAPNAME} - NUS Libraries - Digitised by Department of Geography, National University of Singapore`}
>
  <Fragment slot="content">
    <h2 class="mt-4">{MAPNAME}</h2>
    <h3>Year of Publication</h3>
    <p>1930</p>
    <h3>Description</h3>
    <p>Singapore sea chart published in 1930.</p>
    <h3>Credits</h3>
    <p>
      This map was produced by the British Admiralty, scanned by Sakinah Yusof,
      Department of Geography, National University of Singapore, and
      georeferenced by Leon Gaw Yan Feng.
    </p>
    <h3>Suggested Citation</h3>
    <p>
      Douglas, H. P. 1930. Singapore Strait: Western Portion, 1:50,000. London:
      British Admiralty. In: "Historical Maps of Singapore, digitised by
      Department of Geography, National University of Singapore, made available
      by NUS Libraries." https://libmaps.nus.edu.sg.
    </p>
    <h3>Rights and Restrictions</h3>
    <p>
      SLA is the copyright owner of the map. Please contact
      <a href="mailto:sla_enquiry@sla.gov.sg">sla_enquiry@sla.gov.sg</a>
       if you wish to use, adapt, or reuse selected map contents.
    </p>
    <h3>Georeferencing Information</h3>
    <h4>Ground Control Points</h4>
    <table>
      <tr>
        <td>14253.003137</td><td>-21643.249999</td><td>25042.167450</td><td
          >26926.704042</td
        >
      </tr>
      <tr>
        <td>13963.080633</td><td>-21820.827004</td><td>24864.896262</td><td
          >27215.100452</td
        >
      </tr>
      <tr>
        <td>19071.657728</td><td>-16948.039883</td><td>30035.708466</td><td
          >21790.711448</td
        >
      </tr>
      <tr>
        <td>18211.514730</td><td>-16250.063689</td><td>30781.887363</td><td
          >22688.889750</td
        >
      </tr>
      <tr>
        <td>7870.634347</td><td>-6031.037442</td><td>41625.920104</td><td
          >33618.864429</td
        >
      </tr>
      <tr>
        <td>7982.751676</td><td>-10410.628123</td><td>36977.181640</td><td
          >33507.739207</td
        >
      </tr>
      <tr>
        <td>8117.982279</td><td>-10974.757006</td><td>36368.638756</td><td
          >33375.447276</td
        >
      </tr>
      <tr>
        <td>9150.092055</td><td>-10529.907977</td><td>36826.368838</td><td
          >32248.320022</td
        >
      </tr>
      <tr>
        <td>9731.398649</td><td>-12861.024118</td><td>34363.093078</td><td
          >31660.943847</td
        >
      </tr>
      <tr>
        <td>10218.901917</td><td>-13182.209444</td><td>34011.196541</td><td
          >31142.359476</td
        >
      </tr>
      <tr>
        <td>9562.941707</td><td>-16022.250893</td><td>31050.280311</td><td
          >31830.781953</td
        >
      </tr>
      <tr>
        <td>10020.510511</td><td>-16881.212875</td><td>30124.236792</td><td
          >31354.531000</td
        >
      </tr>
      <tr>
        <td>11091.796369</td><td>-17347.966335</td><td>29624.173292</td><td
          >30230.049585</td
        >
      </tr>
      <tr>
        <td>11729.420810</td><td>-17565.958183</td><td>29423.089556</td><td
          >29563.298251</td
        >
      </tr>
      <tr>
        <td>11176.154759</td><td>-24039.635354</td><td>22553.118165</td><td
          >30170.438887</td
        >
      </tr>
      <tr>
        <td>12259.155236</td><td>-23853.963979</td><td>22725.097676</td><td
          >29032.728278</td
        >
      </tr>
      <tr>
        <td>10848.099785</td><td>-25713.655579</td><td>20727.489514</td><td
          >30540.856294</td
        >
      </tr>
      <tr>
        <td>9337.409676</td><td>-27487.324487</td><td>18885.985831</td><td
          >32186.567919</td
        >
      </tr>
      <tr>
        <td>24027.934136</td><td>-28899.800673</td><td>17396.743885</td><td
          >16612.879076</td
        >
      </tr>
      <tr>
        <td>23316.163256</td><td>-29894.163351</td><td>16329.762346</td><td
          >17347.940974</td
        >
      </tr>
      <tr>
        <td>22557.574587</td><td>-30827.221533</td><td>15317.786119</td><td
          >18112.332797</td
        >
      </tr>
      <tr>
        <td>18892.244853</td><td>-23757.537695</td><td>22826.193725</td><td
          >22008.507109</td
        >
      </tr>
      <tr>
        <td>30570.902623</td><td>-9407.365804</td><td>37979.216563</td><td
          >9613.833463</td
        >
      </tr>
      <tr>
        <td>26759.041760</td><td>-9999.197091</td><td>37466.148652</td><td
          >13663.252330</td
        >
      </tr>
      <tr>
        <td>30489.827034</td><td>-30896.132766</td><td>15220.657080</td><td
          >9849.086943</td
        >
      </tr>
    </table>
  </Fragment>
</Layout>
