---
import Layout from "../../layouts/Layout.astro";
const MAPNAME = "1930s - 1:6,336 Map of Singapore Town 10 Inch to 1 Mile";
---

<Layout
  title={`Historical Maps of Singapore: ${MAPNAME} - NUS Libraries - Digitised by Department of Geography, National University of Singapore`}
>
  <Fragment slot="content">
    <h2 class="mt-4">{MAPNAME}</h2>
    <h3>Year of Publication</h3>
    <p>193?</p>
    <h3>Description</h3>
    <p>Map of Singapore town published in 193?.</p>
    <h3>Credits</h3>
    <p>
      The map producer was not given. The map was scanned by Sakinah Yusof,
      Department of Geography, National University of Singapore, and
      georeferenced by Low Taoyang Isaac.
    </p>
    <h3>Suggested Citation</h3>
    <p>
      Producer not given [193?]. Map of Singapore Town, 1:6,336. Publisher not
      given. In: "Historical Maps of Singapore, digitised by Department of
      Geography, National University of Singapore, made available by NUS
      Libraries." https://libmaps.nus.edu.sg.
    </p>
    <h3>Rights and Restrictions</h3>
    <p>
      SLA is the copyright owner of the map. Please contact
      <a href="mailto:sla_enquiry@sla.gov.sg">sla_enquiry@sla.gov.sg</a>
       if you wish to use, adapt, or reuse selected map contents.
    </p>
    <h3>Georeferencing Information</h3>
    <h4>Ground Control Points</h4>
    <table>
      <tr>
        <td>1.233330</td><td>4.066519</td><td>369767.834896</td><td
          >142158.518035</td
        >
      </tr>
      <tr>
        <td>14.909722</td><td>23.242325</td><td>373207.954276</td><td
          >143782.189824</td
        >
      </tr>
      <tr>
        <td>4.758247</td><td>4.405321</td><td>370279.540086</td><td
          >141928.118407</td
        >
      </tr>
      <tr>
        <td>8.469724</td><td>1.341662</td><td>370553.648967</td><td
          >141214.800314</td
        >
      </tr>
      <tr>
        <td>11.910279</td><td>5.771127</td><td>371396.547007</td><td
          >141568.582011</td
        >
      </tr>
      <tr>
        <td>0.392016</td><td>17.393531</td><td>370691.774973</td><td
          >144111.497513</td
        >
      </tr>
      <tr>
        <td>5.229270</td><td>9.227242</td><td>370738.976734</td><td
          >142573.762563</td
        >
      </tr>
      <tr>
        <td>2.862704</td><td>8.498389</td><td>370335.486344</td><td
          >142648.242920</td
        >
      </tr>
      <tr>
        <td>2.517958</td><td>12.956212</td><td>370650.473432</td><td
          >143309.526187</td
        >
      </tr>
      <tr>
        <td>3.042018</td><td>16.163513</td><td>370971.678241</td><td
          >143720.557218</td
        >
      </tr>
      <tr>
        <td>7.846861</td><td>23.616232</td><td>372221.307824</td><td
          >144374.343942</td
        >
      </tr>
      <tr>
        <td>14.777736</td><td>10.839417</td><td>372214.825519</td><td
          >142047.858039</td
        >
      </tr>
      <tr>
        <td>10.384107</td><td>4.990183</td><td>371129.370223</td><td
          >141583.645652</td
        >
      </tr>
      <tr>
        <td>5.893791</td><td>1.950674</td><td>370249.628880</td><td
          >141489.056921</td
        >
      </tr>
      <tr>
        <td>2.458287</td><td>4.290640</td><td>369949.987656</td><td
          >142090.323749</td
        >
      </tr>
      <tr>
        <td>6.394219</td><td>6.935206</td><td>370709.607925</td><td
          >142168.640572</td
        >
      </tr>
      <tr>
        <td>10.088638</td><td>17.916568</td><td>372092.164440</td><td
          >143418.667031</td
        >
      </tr>
      <tr>
        <td>11.182909</td><td>16.311167</td><td>372118.157159</td><td
          >143112.850419</td
        >
      </tr>
      <tr>
        <td>11.167088</td><td>14.790479</td><td>372011.265278</td><td
          >142885.308297</td
        >
      </tr>
      <tr>
        <td>9.958671</td><td>12.233080</td><td>371633.439523</td><td
          >142624.428609</td
        >
      </tr>
      <tr>
        <td>3.435118</td><td>3.992613</td><td>370068.558268</td><td
          >141969.980425</td
        >
      </tr>
      <tr>
        <td>1.672711</td><td>7.151588</td><td>370077.620265</td><td
          >142560.663898</td
        >
      </tr>
      <tr>
        <td>2.873101</td><td>14.961753</td><td>370853.962235</td><td
          >143572.803006</td
        >
      </tr>
      <tr>
        <td>0.557574</td><td>15.457480</td><td>370558.025184</td><td
          >143813.309737</td
        >
      </tr>
      <tr>
        <td>0.473163</td><td>19.534341</td><td>370865.207049</td><td
          >144403.860918</td
        >
      </tr>
      <tr>
        <td>9.357471</td><td>23.191973</td><td>372416.052130</td><td
          >144215.847625</td
        >
      </tr>
      <tr>
        <td>6.236729</td><td>19.055296</td><td>371649.341013</td><td
          >143888.478012</td
        >
      </tr>
      <tr>
        <td>4.880021</td><td>20.944290</td><td>371608.595098</td><td
          >144251.619363</td
        >
      </tr>
      <tr>
        <td>7.384619</td><td>21.743104</td><td>372016.715706</td><td
          >144155.046253</td
        >
      </tr>
      <tr>
        <td>10.229920</td><td>22.740179</td><td>372507.121895</td><td
          >144086.254449</td
        >
      </tr>
      <tr>
        <td>12.387205</td><td>6.790420</td><td>371560.440835</td><td
          >141673.117331</td
        >
      </tr>
      <tr>
        <td>15.059371</td><td>4.552670</td><td>371759.302066</td><td
          >141136.012090</td
        >
      </tr>
      <tr>
        <td>12.514906</td><td>0.980827</td><td>371103.001795</td><td
          >140855.420904</td
        >
      </tr>
      <tr>
        <td>12.793310</td><td>0.801871</td><td>371139.911244</td><td
          >140789.936398</td
        >
      </tr>
      <tr>
        <td>12.214022</td><td>21.728749</td><td>372714.052934</td><td
          >143792.566362</td
        >
      </tr>
      <tr>
        <td>8.434389</td><td>20.446091</td><td>372053.545780</td><td
          >143905.265858</td
        >
      </tr>
      <tr>
        <td>7.868413</td><td>24.045150</td><td>372264.683702</td><td
          >144443.429434</td
        >
      </tr>
      <tr>
        <td>6.624480</td><td>24.200487</td><td>372091.645856</td><td
          >144554.025489</td
        >
      </tr>
      <tr>
        <td>4.348905</td><td>24.141658</td><td>371781.447735</td><td
          >144747.224625</td
        >
      </tr>
    </table>
  </Fragment>
</Layout>
