---
import Layout from "../../layouts/Layout.astro";
const MAPNAME = "1932 - 1:6,336 Map of Business Area Singapore";
---

<Layout
  title={`Historical Maps of Singapore: ${MAPNAME} - NUS Libraries - Digitised by Department of Geography, National University of Singapore`}
>
  <Fragment slot="content">
    <h2 class="mt-4">{MAPNAME}</h2>
    <h3>Year of Publication</h3>
    <p>1932</p>
    <h3>Description</h3>
    <p>
      This map shows the business area of Singapore with detail of roads
      railways, buildings and water bodies. Major features and areas shown in
      this map include Tanjong Pagar, Orchard Road, Race Course, Bukit Timah
      Road, Rochor Canal, Singapore River, Monk’s Hill and Fort Canning. An
      inset of Keppel Hill is also shown.
    </p>
    <h3>Credits</h3>
    <p>
      This map was produced by the Federated Malay States Survey Department,
      scanned by Sakinah Yusof, Department of Geography, National University of
      Singapore, and georeferenced by Low Taoyang Isaac and Leon Gaw Yan Feng.
    </p>
    <h3>Suggested Citation</h3>
    <p>
      Federated Malay States Survey Department 1932. Map of Business Area
      Singapore, 1:6,336. Publisher not given. In: "Historical Maps of
      Singapore, digitised by Department of Geography, National University of
      Singapore, made available by NUS Libraries." https://libmaps.nus.edu.sg.
    </p>
    <h3>Rights and Restrictions</h3>
    <p>
      SLA is the copyright owner of the map. Please contact
      <a href="mailto:sla_enquiry@sla.gov.sg">sla_enquiry@sla.gov.sg</a>
       if you wish to use, adapt, or reuse selected map contents.
    </p>
    <h3>Georeferencing Information</h3>
    <h4>Ground Control Points</h4>
    <table></table>
  </Fragment>
</Layout>
