---
import Layout from "../../layouts/Layout.astro";
const MAPNAME = "1943 - Singapore & Johore 1:63,360 Topographical Map";
---

<Layout
  title={`Historical Maps of Singapore: ${MAPNAME} - NUS Libraries - Digitised by Department of Geography, National University of Singapore`}
>
  <Fragment slot="content">
    <h2 class="mt-4">{MAPNAME}</h2>
    <h3>Year of Publication</h3>
    <p>1943</p>
    <h3>Description</h3>
    <p>
      This map shows the entire Singapore and its surrounding islands with
      detail on contours, roads, land cover type, international boundaries,
      water features, relief, buildings and vegetation. The coastline of Johore
      along the Straits of Johore is also shown.
    </p>
    <h3>Credits</h3>
    <p>
      This map was produced by Geographical Section, Army Map Service, US Army;
      copied from a map by Federated Malay States Survey Department.
      Georeferenced by Low Taoyang Isaac.
    </p>
    <h3>Suggested Citation</h3>
    <p>
      Geographical Section, Army Map Service, US Army 1943. Singapore & Johore,
      1:63,360. First Edition - AMS 1. Washington DC: War Office. In:
      "Historical Maps of Singapore, digitised by Department of Geography,
      National University of Singapore, made available by NUS Libraries."
      https://libmaps.nus.edu.sg.
    </p>
    <h3>Rights and Restrictions</h3>
    <p>
      SLA is the copyright owner of the map. Please contact
      <a href="mailto:sla_enquiry@sla.gov.sg">sla_enquiry@sla.gov.sg</a>
       if you wish to use, adapt, or reuse selected map contents.
    </p>
  </Fragment>
</Layout>
