---
import Layout from "../../layouts/Layout.astro";
const MAPNAME = "1945 - Singapore 1:63,360 Topographical Map";
---

<Layout
  title={`Historical Maps of Singapore: ${MAPNAME} - NUS Libraries - Digitised by Department of Geography, National University of Singapore`}
>
  <Fragment slot="content">
    <h2 class="mt-4">{MAPNAME}</h2>
    <h3>Year of Publication</h3>
    <p>1945</p>
    <h3>Series, Edition</h3>
    <p>HIND 1035, Edition 4</p>
    <h3>Description</h3>
    <p>
      This map shows the entire Singapore and its surrounding islands with
      detail on contours, roads, land cover type, international boundaries,
      water features, relief, buildings and vegetation. The coastline of Johore
      along the Straits of Johore is also shown.
    </p>
    <h3>Credits</h3>
    <p>
      This map was revised by 7 Indian Air Surveyed Company and reproduced by
      110 Map Production Company RE, scanned by Sakinah Yusof, Department of
      Geography, National University of Singapore, and georeferenced by Leon Gaw
      Yan Feng.
    </p>
    <h3>Suggested Citation</h3>
    <p>
      7 Indian Air Survey Company and 110 Map Production Company RE 1945.
      Singapore & Johore Bahru, 1:63,360. HIND 1035, Sheet 3L/12, 4th Edition.
      [India]: Survey Production Centre, Allied Land Forces South East Asia. In:
      "Historical Maps of Singapore, digitised by Department of Geography,
      National University of Singapore, made available by NUS Libraries."
      https://libmaps.nus.edu.sg.
    </p>
    <h3>Rights and Restrictions</h3>
    <p>
      SLA is the copyright owner of the map. Please contact
      <a href="mailto:sla_enquiry@sla.gov.sg">sla_enquiry@sla.gov.sg</a>
       if you wish to use, adapt, or reuse selected map contents.
    </p>
  </Fragment>
</Layout>
