---
import Layout from "../../layouts/Layout.astro";
const MAPNAME = "1958 - Singapore 1:63,360 Topographical Map";
---

<Layout
  title={`Historical Maps of Singapore: ${MAPNAME} - NUS Libraries - Digitised by Department of Geography, National University of Singapore`}
>
  <Fragment slot="content">
    <h2 class="mt-4">{MAPNAME}</h2>
    <h3>Year of Publication</h3>
    <p>1958</p>
    <h3>Series, Edition</h3>
    <p>Series GSGS 4923, Edition 1-GSGS</p>
    <h3>Description</h3>
    <p>
      This map shows the entire Singapore with detail on contours, networks of
      roads and railways, international boundaries, water features, relief,
      buildings and vegetation. The coastline of Johore along the Straits of
      Johore is also shown.
    </p>
    <p>
      Map covers the Johore (Johor) Strait, parts of Punggol, Ulu Bedok, Bedok,
      Changi, Pulau Ubin, Pulau Serangoon and other surrounding islands.
    </p>
    <p>
      It shows Gammon Malaya Quarry, other granite quarries and fisheries
      reserves in Pulau Ubin, Public Works Department Labourers Lines,
      Handicapped Childrens’ Home, Maternity and Children’s Welfare Centre and
      government bungalows in Changi, Ubin Estate, Ong Ting Lye Estate, Wah Hong
      Estate, Tampines Estate, Bukit Sembawang Estate, Hun Yeang Village,
      Kampong Noordin, Pasir Ris Village, Kampong Loyang, Yan Kit Village,
      Changi Village, proposed international airport under construction,
      residential development areas, cemeteries, industry sites, rural areas,
      Sungei Serangoon, Sungei Tampines, streams and rivers, existing and
      proposed community and public utility facilities, roads and other land
      use.
    </p>
    <h3>Credits</h3>
    <p>
      This map was prepared under the direction of the Assistant Director of
      Survey, Far East Land Forces, surveyed by 84 Field Survey Squadron RE and
      the Singapore Survey Department, compiled and drawn by S70 Map
      Reproduction Troop RE and the Singapore Survey Department. It was scanned
      by Sakinah Yusof, Department of Geography, National University of
      Singapore (NUS) and georeferenced by Leon Gaw Yan Feng, with kind
      permission from Singapore Land Authority and Ministry of Defence for NUS
      Libraries to provide viewing of the map service over the internet.
    </p>
    <h3>Suggested Citation</h3>
    <p>
      Assistant Director of Survey, Far East Land Forces 1958. Singapore,
      1:63,360. Series GSGS 4923, Sheet Singapore, Edition 1-GSGS. [Singapore]:
      War Office & Air Ministry. In: "Historical Maps of Singapore, digitised by
      Department of Geography, National University of Singapore, made available
      by NUS Libraries." https://libmaps.nus.edu.sg.
    </p>
    <h3>Rights and Restrictions</h3>
    <p>
      No reproduction for commercial purposes. See terms of use for details. SLA
      is the copyright owner of the map. Please contact
      <a href="mailto:sla_enquiry@sla.gov.sg">sla_enquiry@sla.gov.sg</a>
       if you wish to use, adapt, or reuse selected map contents.
    </p>
    <h4>Ground Control Points</h4>
    <table>
      <tr>
        <td>25.939355</td><td>16.518079</td><td>380584.052381</td><td
          >157389.849568</td
        >
      </tr>
      <tr>
        <td>10.809818</td><td>18.021439</td><td>356212.766312</td><td
          >159819.706257</td
        >
      </tr>
      <tr>
        <td>24.872754</td><td>16.321923</td><td>378811.715266</td><td
          >157104.153729</td
        >
      </tr>
      <tr>
        <td>6.230077</td><td>11.923037</td><td>348819.953053</td><td
          >150011.810963</td
        >
      </tr>
      <tr>
        <td>14.236696</td><td>16.517752</td><td>361718.757633</td><td
          >157388.871688</td
        >
      </tr>
      <tr>
        <td>8.791229</td><td>16.881759</td><td>352940.473631</td><td
          >157994.877819</td
        >
      </tr>
      <tr>
        <td>29.225682</td><td>14.227365</td><td>385834.306919</td><td
          >153707.437215</td
        >
      </tr>
      <tr>
        <td>18.762433</td><td>19.577206</td><td>368996.768628</td><td
          >162339.149818</td
        >
      </tr>
      <tr>
        <td>14.992435</td><td>7.490087</td><td>362930.278959</td><td
          >142888.146443</td
        >
      </tr>
      <tr>
        <td>17.367754</td><td>6.120718</td><td>366743.375964</td><td
          >140701.005162</td
        >
      </tr>
      <tr>
        <td>16.239026</td><td>6.527634</td><td>364910.338965</td><td
          >141325.423078</td
        >
      </tr>
      <tr>
        <td>21.496898</td><td>17.360189</td><td>373391.375215</td><td
          >158757.295217</td
        >
      </tr>
      <tr>
        <td>9.862998</td><td>8.063947</td><td>354648.694462</td><td
          >143797.772982</td
        >
      </tr>
      <tr>
        <td>14.974454</td><td>12.379608</td><td>362899.119003</td><td
          >150743.335353</td
        >
      </tr>
      <tr>
        <td>23.936834</td><td>8.638930</td><td>377361.569928</td><td
          >144762.661348</td
        >
      </tr>
      <tr>
        <td>24.700680</td><td>8.543555</td><td>378570.718180</td><td
          >144622.431901</td
        >
      </tr>
      <tr>
        <td>24.132521</td><td>8.191922</td><td>377676.424724</td><td
          >144053.797083</td
        >
      </tr>
      <tr>
        <td>24.453073</td><td>9.193915</td><td>378184.558032</td><td
          >145653.338824</td
        >
      </tr>
      <tr>
        <td>27.973986</td><td>9.386040</td><td>383840.321085</td><td
          >145949.276704</td
        >
      </tr>
      <tr>
        <td>19.006453</td><td>17.326325</td><td>369385.869128</td><td
          >158688.638086</td
        >
      </tr>
      <tr>
        <td>18.408457</td><td>15.038230</td><td>368443.684349</td><td
          >155010.332671</td
        >
      </tr>
      <tr>
        <td>18.423478</td><td>15.066847</td><td>368474.111494</td><td
          >155069.864041</td
        >
      </tr>
      <tr>
        <td>10.504960</td><td>16.351733</td><td>355717.826901</td><td
          >157135.054344</td
        >
      </tr>
      <tr>
        <td>11.424688</td><td>16.029173</td><td>357187.708320</td><td
          >156593.341027</td
        >
      </tr>
      <tr>
        <td>9.969670</td><td>13.103430</td><td>354829.651395</td><td
          >151889.249031</td
        >
      </tr>
      <tr>
        <td>14.525618</td><td>13.488088</td><td>362189.039177</td><td
          >152534.704549</td
        >
      </tr>
      <tr>
        <td>15.491637</td><td>11.073763</td><td>363749.495160</td><td
          >148626.213444</td
        >
      </tr>
      <tr>
        <td>15.559561</td><td>10.776164</td><td>363834.161996</td><td
          >148167.954194</td
        >
      </tr>
      <tr>
        <td>15.752924</td><td>10.584496</td><td>364145.312618</td><td
          >147865.270256</td
        >
      </tr>
      <tr>
        <td>16.581596</td><td>10.274988</td><td>365490.456975</td><td
          >147381.610955</td
        >
      </tr>
      <tr>
        <td>20.230638</td><td>6.120992</td><td>371369.013517</td><td
          >140690.482016</td
        >
      </tr>
      <tr>
        <td>19.995430</td><td>6.478331</td><td>370992.736198</td><td
          >141280.656694</td
        >
      </tr>
      <tr>
        <td>19.935676</td><td>6.600399</td><td>370904.367850</td><td
          >141474.457622</td
        >
      </tr>
      <tr>
        <td>17.524699</td><td>7.142636</td><td>366984.103617</td><td
          >142339.147712</td
        >
      </tr>
      <tr>
        <td>18.752070</td><td>7.199587</td><td>369006.582662</td><td
          >142418.522870</td
        >
      </tr>
      <tr>
        <td>18.260252</td><td>7.341542</td><td>368195.368539</td><td
          >142645.535824</td
        >
      </tr>
      <tr>
        <td>18.810155</td><td>7.369881</td><td>369073.191649</td><td
          >142704.008858</td
        >
      </tr>
      <tr>
        <td>17.792890</td><td>7.451702</td><td>367427.017003</td><td
          >142828.098690</td
        >
      </tr>
      <tr>
        <td>19.608222</td><td>7.271385</td><td>370386.122921</td><td
          >142545.523124</td
        >
      </tr>
      <tr>
        <td>20.720711</td><td>6.669503</td><td>372172.857744</td><td
          >141589.369962</td
        >
      </tr>
      <tr>
        <td>20.675660</td><td>6.693311</td><td>372103.801356</td><td
          >141641.757567</td
        >
      </tr>
      <tr>
        <td>20.380251</td><td>6.862157</td><td>371620.406639</td><td
          >141910.045603</td
        >
      </tr>
      <tr>
        <td>20.234972</td><td>6.944140</td><td>371387.837424</td><td
          >142041.808367</td
        >
      </tr>
      <tr>
        <td>20.531656</td><td>7.308088</td><td>371861.557928</td><td
          >142620.405889</td
        >
      </tr>
      <tr>
        <td>20.213980</td><td>7.518172</td><td>371358.096588</td><td
          >142950.123708</td
        >
      </tr>
      <tr>
        <td>20.234345</td><td>7.736737</td><td>371387.711961</td><td
          >143299.585108</td
        >
      </tr>
      <tr>
        <td>20.787894</td><td>7.723824</td><td>372268.275716</td><td
          >143273.918452</td
        >
      </tr>
      <tr>
        <td>21.053257</td><td>8.046908</td><td>372714.228109</td><td
          >143799.610937</td
        >
      </tr>
      <tr>
        <td>19.907300</td><td>8.898996</td><td>370846.738670</td><td
          >145153.780523</td
        >
      </tr>
      <tr>
        <td>20.271074</td><td>8.706279</td><td>371440.027472</td><td
          >144877.033002</td
        >
      </tr>
      <tr>
        <td>20.234914</td><td>9.282328</td><td>371398.424904</td><td
          >145779.627857</td
        >
      </tr>
      <tr>
        <td>20.862058</td><td>9.349245</td><td>372409.548198</td><td
          >145879.112260</td
        >
      </tr>
      <tr>
        <td>14.164678</td><td>15.676020</td><td>361596.573403</td><td
          >156044.674252</td
        >
      </tr>
      <tr>
        <td>16.935812</td><td>8.841082</td><td>366043.539640</td><td
          >145050.568072</td
        >
      </tr>
      <tr>
        <td>16.072859</td><td>7.426195</td><td>364663.085147</td><td
          >142786.836500</td
        >
      </tr>
      <tr>
        <td>9.503888</td><td>11.103658</td><td>354081.119421</td><td
          >148689.004703</td
        >
      </tr>
      <tr>
        <td>15.212288</td><td>8.297417</td><td>363287.687539</td><td
          >144188.583132</td
        >
      </tr>
      <tr>
        <td>16.222002</td><td>7.614738</td><td>364916.049077</td><td
          >143093.523442</td
        >
      </tr>
      <tr>
        <td>11.183342</td><td>11.872635</td><td>356796.309022</td><td
          >149928.415015</td
        >
      </tr>
      <tr>
        <td>12.613503</td><td>10.276951</td><td>359094.784034</td><td
          >147379.013495</td
        >
      </tr>
      <tr>
        <td>19.698677</td><td>10.869925</td><td>370504.191390</td><td
          >148330.937187</td
        >
      </tr>
      <tr>
        <td>19.150780</td><td>13.339169</td><td>369633.152364</td><td
          >152292.272868</td
        >
      </tr>
      <tr>
        <td>17.028375</td><td>18.711751</td><td>366223.571105</td><td
          >160909.016329</td
        >
      </tr>
      <tr>
        <td>21.965354</td><td>14.071785</td><td>374160.256112</td><td
          >153463.837147</td
        >
      </tr>
      <tr>
        <td>24.225897</td><td>14.268044</td><td>377801.417710</td><td
          >153780.244419</td
        >
      </tr>
      <tr>
        <td>24.026668</td><td>13.710913</td><td>377473.280804</td><td
          >152886.480131</td
        >
      </tr>
      <tr>
        <td>24.056732</td><td>13.064821</td><td>377547.117304</td><td
          >151854.613966</td
        >
      </tr>
      <tr>
        <td>23.155439</td><td>12.205469</td><td>376087.377266</td><td
          >150474.246882</td
        >
      </tr>
      <tr>
        <td>22.252984</td><td>12.289907</td><td>374646.689061</td><td
          >150606.961551</td
        >
      </tr>
      <tr>
        <td>21.763678</td><td>12.382288</td><td>373846.707541</td><td
          >150767.509745</td
        >
      </tr>
      <tr>
        <td>30.364245</td><td>14.243716</td><td>387703.171060</td><td
          >153744.587393</td
        >
      </tr>
      <tr>
        <td>27.334090</td><td>10.213437</td><td>382822.046781</td><td
          >147308.721789</td
        >
      </tr>
      <tr>
        <td>22.641693</td><td>10.148464</td><td>375288.723460</td><td
          >147168.101139</td
        >
      </tr>
      <tr>
        <td>21.929764</td><td>9.920254</td><td>374112.171940</td><td
          >146813.876264</td
        >
      </tr>
      <tr>
        <td>22.592650</td><td>11.708361</td><td>375183.105142</td><td
          >149676.704696</td
        >
      </tr>
      <tr>
        <td>22.482803</td><td>11.607707</td><td>375009.993287</td><td
          >149515.823571</td
        >
      </tr>
      <tr>
        <td>22.078439</td><td>10.712003</td><td>374365.106021</td><td
          >148079.883479</td
        >
      </tr>
      <tr>
        <td>22.548103</td><td>8.569405</td><td>375118.312741</td><td
          >144632.041264</td
        >
      </tr>
      <tr>
        <td>22.177971</td><td>8.685073</td><td>374511.533750</td><td
          >144829.597214</td
        >
      </tr>
      <tr>
        <td>22.348745</td><td>8.768325</td><td>374791.992644</td><td
          >144961.889146</td
        >
      </tr>
      <tr>
        <td>22.847860</td><td>9.010615</td><td>375599.855371</td><td
          >145365.820509</td
        >
      </tr>
      <tr>
        <td>23.555965</td><td>9.018599</td><td>376751.677119</td><td
          >145378.167756</td
        >
      </tr>
      <tr>
        <td>19.140812</td><td>12.217947</td><td>369641.460931</td><td
          >150519.529021</td
        >
      </tr>
      <tr>
        <td>19.408499</td><td>11.786854</td><td>370058.302380</td><td
          >149801.739261</td
        >
      </tr>
      <tr>
        <td>17.443304</td><td>8.748577</td><td>366888.997889</td><td
          >144903.459850</td
        >
      </tr>
      <tr>
        <td>18.127059</td><td>9.641332</td><td>367994.531894</td><td
          >146334.365096</td
        >
      </tr>
      <tr>
        <td>18.952005</td><td>9.447264</td><td>369327.373102</td><td
          >146040.015549</td
        >
      </tr>
      <tr>
        <td>19.245303</td><td>8.884870</td><td>369820.160545</td><td
          >145140.430417</td
        >
      </tr>
      <tr>
        <td>18.776954</td><td>8.341596</td><td>369036.330853</td><td
          >144270.610969</td
        >
      </tr>
      <tr>
        <td>18.518273</td><td>8.113188</td><td>368609.689375</td><td
          >143893.578964</td
        >
      </tr>
      <tr>
        <td>19.269489</td><td>7.933499</td><td>369840.004335</td><td
          >143619.073207</td
        >
      </tr>
      <tr>
        <td>19.388465</td><td>8.355484</td><td>370038.442232</td><td
          >144273.918267</td
        >
      </tr>
    </table>
  </Fragment>
</Layout>
