---
import Layout from "../../layouts/Layout.astro";
const MAPNAME = "1969 - Singapore 1:63,360 Topographical Map";
---

<Layout
  title={`Historical Maps of Singapore: ${MAPNAME} - NUS Libraries - Digitised by Department of Geography, National University of Singapore`}
>
  <Fragment slot="content">
    <h2 class="mt-4">{MAPNAME}</h2>
    <h3>Year of Publication</h3>
    <p>1969</p>
    <h3>Series, Edition</h3>
    <p>Singapore Series 1, Edition 1</p>
    <h3>Description</h3>
    <p>Topographical map of Singapore.</p>
    <h3>Credits</h3>
    <p>
      This map was published by Chief Surveyor, Singapore, prepared under the
      direction of the Assistant Director of Survey, Far East Land Forces, by 84
      Field Survey Squadron RE, scanned by Sakinah Yusof, Department of
      Geography, National University of Singapore (NUS), and georeferenced by
      Leon Gaw Yan Feng, with kind permission from Singapore Land Authority and
      Ministry of Defence for NUS Libraries to provide viewing of the map
      service over the internet.
    </p>
    <h3>Suggested Citation</h3>
    <p>
      Chief Surveyor, Singapore 1969. Singapore, 1:63,360. Singapore Series 1,
      Edition 1. [Singapore]: War Office & Air Ministry. In: "Historical Maps of
      Singapore, digitised by Department of Geography, National University of
      Singapore, made available by NUS Libraries." https://libmaps.nus.edu.sg.
    </p>
    <h3>Rights and Restrictions</h3>
    <p>
      No reproduction for commercial purposes. See terms of use for details. SLA
      is the copyright owner of the map. Please contact
      <a href="mailto:sla_enquiry@sla.gov.sg">sla_enquiry@sla.gov.sg</a>
       if you wish to use, adapt, or reuse selected map contents.
    </p>
    <h3>Georeferencing Information</h3>
    <h4>Notes</h4>
    <ol>
      <li>Georeferencing done with SVY21 projection.</li>
      <li>
        Openstreet map (OSM) basemap was used for georeferencing road junctions.
      </li>
      <li>
        Results (30 GCPs)
        <ul>
          <li>
            First order polynomial (Affine Transformation) - RMSE: 0.00043913
          </li>
          <li>
            All GCPs are of road features like junctions, end points or
            inflexions.
          </li>
        </ul>
      </li>
      <li>
        Issues
        <ul>
          <li>
            .tif images may be assigned SVY21 GCS whilst .jpg images cannot.
          </li>
          <li>
            Maps are more cluttered as the island of Singapore becomes
            increasingly urbanized.
          </li>
          <li>
            Road colours tend to exceed boundary of sides that makes identifying
            corners of junctions difficult and island boundaries are not printed
            accurately.
          </li>
        </ul>
      </li>
    </ol>
    <h4>Ground Control Points</h4>
    <a href="/gcp/1969_gcp.txt" download>Download here</a>
  </Fragment>
</Layout>
