---
import Layout from "../../layouts/Layout.astro";
const MAPNAME = "1974 - Singapore 1:75,000 Topographical Map";
---

<Layout
  title={`Historical Maps of Singapore: ${MAPNAME} - NUS Libraries - Digitised by Department of Geography, National University of Singapore`}
>
  <Fragment slot="content">
    <h2 class="mt-4">{MAPNAME}</h2>
    <h3>Year of Publication</h3>
    <p>1974</p>
    <h3>Series, Edition</h3>
    <p>Series SMU 075, Edition 1 SMU</p>
    <h3>Description</h3>
    <p>
      This map shows Singapore with detail on networks of roads and railways,
      international boundaries, water features, relief, buildings and
      vegetation. The coastline of Johor along the Straits of Johor is also
      shown.
    </p>
    <h3>Credits</h3>
    <p>
      This map was produced by the Mapping Branch, Ministry of Defence,
      Singapore, scanned by Sakinah Yusof, Department of Geography, National
      University of Singapore (NUS), and georeferenced by Leon Gaw Yan Feng,
      with kind permission from Singapore Land Authority and Ministry of Defence
      for NUS Libraries to provide viewing of the map service over the internet.
    </p>
    <h3>Suggested Citation</h3>
    <p>
      Mapping Unit, Ministry of Defence 1974. Singapore, 1:75,000. Series SMU
      075, Sheet Singapore, Edition 1 SMU. Singapore: Ministry of Defence. In:
      "Historical Maps of Singapore, digitised by Department of Geography,
      National University of Singapore, made available by NUS Libraries."
      https://libmaps.nus.edu.sg.
    </p>
    <h3>Rights and Restrictions</h3>
    <p>
      No reproduction for commercial purposes. See terms of use for details. SLA
      is the copyright owner of the map. Please contact
      <a href="mailto:sla_enquiry@sla.gov.sg">sla_enquiry@sla.gov.sg</a>
       if you wish to use, adapt, or reuse selected map contents.
    </p>
    <h3>Georeferencing Information</h3>
    <h4>Notes</h4>
    <ol>
      <li>Georeferencing done with SVY21 projection.</li>
      <li>
        Openstreet map (OSM) basemap was used for georeferencing road junctions.
      </li>
      <li>
        Results (30 GCPs)
        <ul>
          <li>
            First order polynomial (Affine Transformation) - RMSE: 0.000182124
          </li>
          <li>
            All GCPs are of road features like junctions, end points or
            inflexions.
          </li>
        </ul>
      </li>
      <li>
        Issues
        <ul>
          <li>
            .tif images may be assigned SVY21 GCS whilst .jpg images cannot.
          </li>
          <li>
            Maps are more cluttered as the island of Singapore becomes
            increasingly urbanized.
          </li>
          <li>
            Road colours tend to exceed boundary of sides that makes identifying
            corners of junctions difficult and island boundaries are not printed
            accurately.
          </li>
        </ul>
      </li>
    </ol>
    <h4>Ground Control Points</h4>
    <table>
      <tr>
        <td>6.433808</td><td>6.037512</td><td>103.703317</td><td>1.421396</td>
      </tr>
      <tr>
        <td>12.452646</td><td>18.380022</td><td>103.915246</td><td>1.317485</td>
      </tr>
      <tr>
        <td>4.564195</td><td>13.524547</td><td>103.831602</td><td>1.453399</td>
      </tr>
      <tr>
        <td>12.031825</td><td>5.360878</td><td>103.691801</td><td>1.324712</td>
      </tr>
      <tr>
        <td>7.284426</td><td>15.856266</td><td>103.871959</td><td>1.406514</td>
      </tr>
      <tr>
        <td>14.470780</td><td>12.936947</td><td>103.821921</td><td>1.282944</td>
      </tr>
      <tr>
        <td>5.616274</td><td>8.708990</td><td>103.749207</td><td>1.435318</td>
      </tr>
      <tr>
        <td>11.094675</td><td>10.013871</td><td>103.771570</td><td>1.340996</td>
      </tr>
      <tr>
        <td>9.666791</td><td>21.740551</td><td>103.972880</td><td>1.365565</td>
      </tr>
      <tr>
        <td>6.867800</td><td>18.030431</td><td>103.909276</td><td>1.413671</td>
      </tr>
      <tr>
        <td>7.508612</td><td>12.717295</td><td>103.817871</td><td>1.402662</td>
      </tr>
      <tr>
        <td>9.566920</td><td>15.300861</td><td>103.862481</td><td>1.366991</td>
      </tr>
      <tr>
        <td>9.120695</td><td>13.539719</td><td>103.832249</td><td>1.375013</td>
      </tr>
      <tr>
        <td>11.390669</td><td>16.218704</td><td>103.878075</td><td>1.335712</td>
      </tr>
      <tr>
        <td>7.988127</td><td>8.999284</td><td>103.753962</td><td>1.394436</td>
      </tr>
      <tr>
        <td>9.188731</td><td>5.555252</td><td>103.694899</td><td>1.374049</td>
      </tr>
      <tr>
        <td>10.121600</td><td>9.407527</td><td>103.761203</td><td>1.357565</td>
      </tr>
      <tr>
        <td>10.834981</td><td>6.390570</td><td>103.709417</td><td>1.345526</td>
      </tr>
      <tr>
        <td>12.278488</td><td>7.968840</td><td>103.736528</td><td>1.320295</td>
      </tr>
      <tr>
        <td>13.907736</td><td>9.802454</td><td>103.768238</td><td>1.292420</td>
      </tr>
      <tr>
        <td>11.993775</td><td>11.367626</td><td>103.795000</td><td>1.325497</td>
      </tr>
      <tr>
        <td>13.453928</td><td>11.556622</td><td>103.798390</td><td>1.300509</td>
      </tr>
      <tr>
        <td>11.335769</td><td>14.206715</td><td>103.843679</td><td>1.336906</td>
      </tr>
      <tr>
        <td>12.370735</td><td>13.187056</td><td>103.826157</td><td>1.318852</td>
      </tr>
      <tr>
        <td>12.493501</td><td>15.309685</td><td>103.862536</td><td>1.316553</td>
      </tr>
      <tr>
        <td>12.377849</td><td>20.605148</td><td>103.953334</td><td>1.318786</td>
      </tr>
      <tr>
        <td>13.460594</td><td>16.971688</td><td>103.891016</td><td>1.299882</td>
      </tr>
      <tr>
        <td>14.441853</td><td>14.428060</td><td>103.847400</td><td>1.282948</td>
      </tr>
      <tr>
        <td>12.337055</td><td>19.061304</td><td>103.926903</td><td>1.319598</td>
      </tr>
      <tr>
        <td>4.439770</td><td>11.496653</td><td>103.797238</td><td>1.455590</td>
      </tr>
    </table>
  </Fragment>
</Layout>
