---
import Layout from "../../layouts/Layout.astro";
const MAPNAME = "1978 - Singapore 1:50,000 Topographical Map";
---

<Layout
  title={`Historical Maps of Singapore: ${MAPNAME} - NUS Libraries - Digitised by Department of Geography, National University of Singapore`}
>
  <Fragment slot="content">
    <h2 class="mt-4">{MAPNAME}</h2>
    <h3>Year of Publication</h3>
    <p>1978</p>
    <h3>Series, Edition</h3>
    <p>Series SMU 075, Edition 2</p>
    <h3>Description</h3>
    <p>
      This map shows Singapore with detail on networks of roads and railways,
      international boundaries, water features, relief, buildings and
      vegetation. The coastline of Johor along the Straits of Johor is also
      shown.
    </p>
    <h3>Credits</h3>
    <p>
      This map was produced by the Mapping Unit, Ministry of Defence, Singapore,
      scanned by Sakinah Yusof, Department of Geography, National University of
      Singapore (NUS), and georeferenced by Leon Gaw Yan Feng, with kind
      permission from Singapore Land Authority and Ministry of Defence for NUS
      Libraries to provide viewing of the map service over the internet.
    </p>
    <h3>Suggested Citation</h3>
    <p>
      Mapping Unit, Ministry of Defence 1978. Singapore, 1:50,000. Series SMU
      075, Edition 2. Singapore: Mapping Unit, Ministry of Defence. In:
      "Historical Maps of Singapore, digitised by Department of Geography,
      National University of Singapore, made available by NUS Libraries."
      https://libmaps.nus.edu.sg.
    </p>
    <h3>Rights and Restrictions</h3>
    <p>
      No reproduction for commercial purposes. See terms of use for details. SLA
      is the copyright owner of the map. Please contact
      <a href="mailto:sla_enquiry@sla.gov.sg">sla_enquiry@sla.gov.sg</a>
       if you wish to use, adapt, or reuse selected map contents.
    </p>
  </Fragment>
</Layout>
