---
import Layout from "../../layouts/Layout.astro";
const MAPNAME = "2005 - Singapore 1:25,000 Topographical Maps";
---

<Layout
  title={`Historical Maps of Singapore: ${MAPNAME} - NUS Libraries - Digitised by Department of Geography, National University of Singapore`}
>
  <Fragment slot="content">
    <h2 class="mt-4">{MAPNAME}</h2>
    <h3>Year of Publication</h3>
    <p>2005</p>
    <h3>Series, Edition</h3>
    <p>Series L802, Edition 10 SMU</p>
    <h3>Description</h3>
    <p>
      A mosaic of 6 sheets of topographical maps of Singapore: Sheet 1 (Lim Chu
      Kang): This map shows the northwestern region of Singapore and the
      coastline along Straits of Johore, with the state boundary included. Major
      regions and features in the map include Ama Keng, Lim Chu Kang, Chua Chu
      Kang, Kranji Reservoir, Mandai, Woodlands, Upper Seletar Reservoir, Upper
      Pierce Reservoir, Upper Bukit Timah, Jurong West and Jurong East. Also
      shows the restricted Live Firing Area for Military training.
    </p>
    <p>
      Sheet 2 (Tampines): This map shows the northeast region of Singapore, its
      coastline and state boundary along the Straits of Johore, Pulau Ubin and
      its surrounding islands (Pulau Ketam, Pulau Sekudu, Coney Island,Pulau
      Punggol Timur and Pulau Punggol Barat). Johore and its coastline is shown
      in the map as well. Major regions and features in the map include Punggol,
      Sembawang, Lower Seletar Reservoir, Lower Pierce Reservoir, MacRitchie
      Reservoir, Sin Ming, Ang Mo Kio, Paya Lebar, Sengkang, Punggol, Hougang,
      Bishan, Yishun, Tampines, Pasir Ris, Changi Airport , Changi, Loyang and
      Serangoon.
    </p>
    <p>
      Sheet 3 (Pulau Tekong): This map shows the island of Pulau Tekong and its
      surrounding islands Pulau Sajahat and Pulau Sajahat Kechil, Pulau
      Semechek, Pulau Unum and Pulau Damien that lies northeast to mainland
      Singapore. The coastline of Johore and Pulau Tekong are shown in this map,
      along with major waterways of the Straits of Johore, Straits of Singapore
      and the state boundary. Major toppgraphical features of Pulau Tekong are
      displayed in the map, such as Pulau Tekong Reservoir and various estates.
    </p>
    <p>
      Sheet 4 (Jurong): The map shows the south-western region of Singapore .
      The south-western coastline of Singapore is shown in this map, with the
      major waterways of Selat Jurong, Selat Pandan, Selat Pesek, Selat Sakra,
      Selat Bukom, Selat Salu and Selat Samulun as shown. Major islands
      displayed in the map include Jurong Island, Pulau Bukom and other smaller
      islands. Major features and regions displayed in this map include Jurong
      Industrial Estate, Chua Chu Kang, Upper Jurong Road, Jurong Town, Taman
      Jurong, Tuas, Teban Garden, Pandan Reservoir, Pasir Panjang, Queenstown,
      Clementi and Bukit Timah.
    </p>
    <p>
      Sheet 5 (Bedok): The map shows the south-eastern region of Singapore. The
      south-eastern coast line of Singapore fronting the Straits of Singapore is
      shown as well. Major regions and features in the map include the Changi
      Business Park, Singapore Changi Airport, MRT Lines, Bedok Police Division
      HQ, Bedok Industrial Park, Paya Ubi Industrial Park, Tai Seng Industrial
      Park, Defu Industrial Estate, UBI Technolink, Kaki Bukit TechPark and
      Industrial Park, Eunos Industrial Estate, Kg Ubi Industrial Estate, along
      with residential estates like Old kallang Airport estate, Marine Parade,
      Siglap, Tanah Merah, Bedok, East Coast Park, Changi and Tanah Merah. An
      inset of Pedra Branca is included.
    </p>
    <p>
      Sheet 7 (Southern Islands): This map shows the Southern Islands of
      Singapore, together with the state boundary with Indonesia demarcated.
      Major islands shown in the map include Pulau Semakau, Pulau Sebarok, Pulau
      Sakeng and the off-limit Live Firing Area of Pulau Sudong, Pulau Pawai
      Pulau Berkas, Pulau Biola and Pulau Senang in the Straits of Singapore.
    </p>
    <h3>Credits</h3>
    <p>
      The maps were produced by the Mapping Unit, Ministry of Defence,
      Singapore, scanned, georeferenced by Department of Geography, National
      University of Singapore (NUS) and mosaicked by NUS Libraries, with kind
      permission from Singapore Land Authority and Ministry of Defence for NUS
      Libraries to provide viewing of the map service over the internet.
    </p>
    <h3>Suggested Citation</h3>
    <p>
      Mapping Unit, Ministry of Defence 2005. Singapore, 1:25,000. Series L802,
      Sheet 1 to 5 and 7, Edition 10 SMU. Singapore: Mapping Unit, Ministry of
      Defence. In: "Historical Maps of Singapore, digitised by Department of
      Geography, National University of Singapore, made available by NUS
      Libraries." https://libmaps.nus.edu.sg.
    </p>
    <h3>Rights and Restrictions</h3>
    <p>
      No reproduction for commercial purposes. See terms of use for details. SLA
      is the copyright owner of the map. Please contact
      <a href="mailto:sla_enquiry@sla.gov.sg">sla_enquiry@sla.gov.sg</a>
       if you wish to use, adapt, or reuse selected map contents.
    </p>
    <h3>Georeferencing Information</h3>
    <h4>Notes</h4>
    <ol>
      <li>
        Georeferencing done on a data frame with SVY21 geographic coordinate
        system.
      </li>
      <li>
        Openstreet map (OSM) basemap was used for georeferencing road junctions
        while satellite imagery was used for geomorphological features.
      </li>
      <li>
        Results
        <ul>
          <li>
            2005 Sheet 1 (20 GCPs)
            <p>
              First order polynomial (Affine Transformation) - RMSE:
              0.00006.21022
            </p>
            <p>
              All GCPs are of road features like junctions, end points or
              inflexions.
            </p>
          </li>
          <li>
            2005 Sheet 2 (20 GCPs)
            <p>
              First order polynomial (Affine Transformation) - RMSE: 0.000223565
            </p>
            <p>
              All GCPs are of road features like junctions, end points or
              inflexions.
            </p>
          </li>
          <li>
            2005 Sheet 3 (15 GCPs)
            <p>
              First order polynomial (Affine Transformation) - RMSE: 0.0000
              811761
            </p>
            <p>
              12/15 GCPs are of road features like junctions, end points
              (jetties) or inflexions.
            </p>
            <p>
              2/15 GCPs are of geomorphological features (coastline of Pulau
              Tekong).
            </p>
            <p>1/15 GCP is of a swimming pool.</p>
          </li>
          <li>
            2005 Sheet 4 (20 GCPs)
            <p>
              First order polynomial (Affine Transformation) - RMSE: 0.0000
              593412
            </p>
            <p>
              All GCPs are of road features like junctions, end points or
              inflexions.
            </p>
          </li>
          <li>
            2005 Sheet 5 (20 GCPs)
            <p>
              First order polynomial (Affine Transformation) - RMSE: 0.0000
              521827
            </p>
            <p>
              All GCPs are of road features like junctions, end points or
              inflexions.
            </p>
          </li>
          <li>
            2005 Sheet 7
            <p>
              First order polynomial (Affine Transformation) - RMSE:
              0.0000440331
            </p>
            <p>
              13/20 GCPs are of road features like junctions, end points
              (jetties) or inflexions.
            </p>
            <p>
              7/20 GCPs are of geomorphological features (coastline of Southern
              Islands).
            </p>
          </li>
        </ul>
      </li>
      <li>
        Issues
        <p>
          SVY_21 could not be assigned to .jpg images as these would result in
          an inconsistent extent.
        </p>
        <p>The problem is a result of .jpg file format instead of .tiff.</p>
      </li>
      <li>
        Notes
        <p>2005 Sheet 6 was not georeferenced as the area covers only sea.</p>
      </li>
    </ol>
    <h4>Ground Control Points</h4>
    <a href="/gcp/2005_gcp.zip" download>Download here</a>
  </Fragment>
</Layout>
