---
import Layout from "../../layouts/Layout.astro";
const MAPNAME = "2010 - Singapore 1:50,000 Topographical Map";
---

<Layout
  title={`Historical Maps of Singapore: ${MAPNAME} - NUS Libraries - Digitised by Department of Geography, National University of Singapore`}
>
  <Fragment slot="content">
    <h2 class="mt-4">{MAPNAME}</h2>
    <h3>Year of Publication</h3>
    <p>2010</p>
    <h3>Series, Edition</h3>
    <p>Series SMU 075, Edition 9</p>
    <h3>Description</h3>
    <p>
      This map shows the entire Singapore with detail on networks of roads and
      railways, international boundaries, water features, relief, buildings and
      vegetation. The coastline of Johor along the Straits of Johor is also
      shown. Pedra Branca and Pulau Tekong are shown in insets.
    </p>
    <p>
      Central Region: Bishan, Bukit Merah, Bukit Timah, Novena, Potong Pasir,
      Queenstown, Tanglin, Tiong Bahru, Toa Payoh, Southern Islands, Bras Basah,
      Chinatown, Downtown Core, Marina Bay, Marina Centre, Marina East, Marina
      South, Newton, Orchard, Outram, Raffles Place, River Valley, Rochor,
      Tanjong Pagar.
    </p>
    <p>
      East Region: Bedok, Changi, Changi Bay, Changi East, Changi Village,
      Geylang, Kallang, Kallang Bahru, Katong, Marine Parade, Paya Lebar, Pasir
      Ris, Siglap, Tampines, Tampines North, Ubi.
    </p>
    <p>
      North Region: Central Water Catchment, Lim Chu Kang, Mandai, Sembawang,
      Simpang, Sungei Kadut, Woodlands, Yishun.
    </p>
    <p>
      North-East Region: Ang Mo Kio, Hougang, North-eastern Islands, Punggol,
      Seletar, Sengkang, Senoko, Serangoon, Serangoon Gardens, Serangoon North.
    </p>
    <p>
      West Region: Bukit Batok, Bukit Panjang, Boon Lay, Bulim, Choa, Chu Kang,
      Clementi, Joo Koon, Jurong East, Jurong West, Tengah, Tuas, Tuas South,
      Western Islands, Western Water Catchment
    </p>
    <h3>Credits</h3>
    <p>
      The maps were produced by the Mapping Unit, Ministry of Defence,
      Singapore, scanned and georeferenced by Department of Geography, National
      University of Singapore (NUS), with kind permission from Singapore Land
      Authority and Ministry of Defence for NUS Libraries to provide viewing of
      the map service over the internet.
    </p>
    <h3>Suggested Citation</h3>
    <p>
      Mapping Unit, Ministry of Defence 2010. Singapore, 1:50,000. Series SMU
      075, Sheet 1, Edition 9. Singapore: SO Publication, Ministry of Defence.
      In: "Historical Maps of Singapore, digitised by Department of Geography,
      National University of Singapore, made available by NUS Libraries."
      https://libmaps.nus.edu.sg.
    </p>
    <h3>Rights and Restrictions</h3>
    <p>
      No reproduction for commercial purposes. See terms of use for details. SLA
      is the copyright owner of the map. Please contact
      <a href="mailto:sla_enquiry@sla.gov.sg">sla_enquiry@sla.gov.sg</a>
       if you wish to use, adapt, or reuse selected map contents.
    </p>
    <h3>Georeferencing Information</h3>
    <h4>Ground Control Points</h4>
    <table>
      <tr>
        <td>46870.045430</td><td>38503.998528</td><td>46862.031000</td><td
          >38487.817000</td
        >
      </tr>
      <tr>
        <td>32980.447236</td><td>32188.505253</td><td>32968.764000</td><td
          >32199.953000</td
        >
      </tr>
      <tr>
        <td>22229.493077</td><td>32138.519344</td><td>22219.452000</td><td
          >32128.239000</td
        >
      </tr>
      <tr>
        <td>33109.152372</td><td>34850.269895</td><td>33122.309000</td><td
          >34857.850000</td
        >
      </tr>
      <tr>
        <td>45152.575282</td><td>41017.872804</td><td>45152.444000</td><td
          >41007.501000</td
        >
      </tr>
      <tr>
        <td>34379.668286</td><td>30923.843177</td><td>34380.106000</td><td
          >30911.624000</td
        >
      </tr>
      <tr>
        <td>21674.124182</td><td>39853.392147</td><td>21682.991000</td><td
          >39865.209000</td
        >
      </tr>
      <tr>
        <td>32211.742702</td><td>42708.258056</td><td>32214.102000</td><td
          >42723.141000</td
        >
      </tr>
      <tr>
        <td>14006.279853</td><td>47406.336490</td><td>14002.116000</td><td
          >47407.633000</td
        >
      </tr>
      <tr>
        <td>40830.161642</td><td>35711.431002</td><td>40840.187000</td><td
          >35707.599000</td
        >
      </tr>
      <tr>
        <td>32537.317288</td><td>38417.148865</td><td>32542.381000</td><td
          >38427.072000</td
        >
      </tr>
      <tr>
        <td>37030.609008</td><td>40070.592155</td><td>37034.955000</td><td
          >40080.676000</td
        >
      </tr>
      <tr>
        <td>28508.590804</td><td>36536.672626</td><td>28511.065000</td><td
          >36547.777000</td
        >
      </tr>
      <tr>
        <td>42045.795216</td><td>35661.795498</td><td>42043.926000</td><td
          >35654.009000</td
        >
      </tr>
      <tr>
        <td>35794.154432</td><td>35537.318134</td><td>35788.190000</td><td
          >35543.010000</td
        >
      </tr>
      <tr>
        <td>29392.887008</td><td>32402.637467</td><td>29396.600000</td><td
          >32411.151000</td
        >
      </tr>
      <tr>
        <td>39861.492758</td><td>39220.089796</td><td>39862.496000</td><td
          >39214.036000</td
        >
      </tr>
      <tr>
        <td>14130.210280</td><td>44576.169262</td><td>14121.997000</td><td
          >44580.953000</td
        >
      </tr>
      <tr>
        <td>36078.907905</td><td>33301.619268</td><td>36075.889000</td><td
          >33308.106000</td
        >
      </tr>
      <tr>
        <td>23441.818728</td><td>28959.524556</td><td>23444.305000</td><td
          >28953.649000</td
        >
      </tr>
      <tr>
        <td>22200.315262</td><td>29663.017180</td><td>22203.189000</td><td
          >29658.205000</td
        >
      </tr>
      <tr>
        <td>35571.265090</td><td>31794.906803</td><td>35570.921000</td><td
          >31800.956000</td
        >
      </tr>
      <tr>
        <td>26977.951993</td><td>28286.367768</td><td>26979.908000</td><td
          >28280.050000</td
        >
      </tr>
      <tr>
        <td>36449.702946</td><td>43935.420048</td><td>36449.478000</td><td
          >43933.630000</td
        >
      </tr>
      <tr>
        <td>40167.122718</td><td>36487.293228</td><td>40167.272000</td><td
          >36494.042000</td
        >
      </tr>
      <tr>
        <td>27869.471202</td><td>37499.856608</td><td>27870.200000</td><td
          >37509.693000</td
        >
      </tr>
      <tr>
        <td>10855.507894</td><td>35997.576209</td><td>10851.789000</td><td
          >36009.990000</td
        >
      </tr>
      <tr>
        <td>39564.237650</td><td>32489.353254</td><td>39568.816000</td><td
          >32483.392000</td
        >
      </tr>
      <tr>
        <td>27676.327295</td><td>28956.369989</td><td>27678.086000</td><td
          >28950.853000</td
        >
      </tr>
      <tr>
        <td>15703.352534</td><td>39665.892313</td><td>15699.677000</td><td
          >39667.955000</td
        >
      </tr>
      <tr>
        <td>37447.358378</td><td>35580.886482</td><td>37449.412000</td><td
          >35586.821000</td
        >
      </tr>
      <tr>
        <td>36387.109553</td><td>38493.926072</td><td>36382.766000</td><td
          >38498.505000</td
        >
      </tr>
      <tr>
        <td>21716.117923</td><td>33628.550011</td><td>21719.811000</td><td
          >33634.927000</td
        >
      </tr>
      <tr>
        <td>17654.534871</td><td>38092.345081</td><td>17657.673000</td><td
          >38096.303000</td
        >
      </tr>
      <tr>
        <td>28245.296570</td><td>38754.122616</td><td>28240.799000</td><td
          >38760.870000</td
        >
      </tr>
      <tr>
        <td>39728.225000</td><td>34159.217902</td><td>39729.066000</td><td
          >34163.568000</td
        >
      </tr>
      <tr>
        <td>40105.162070</td><td>40913.471247</td><td>40108.238000</td><td
          >40919.713000</td
        >
      </tr>
      <tr>
        <td>31920.071444</td><td>41151.700376</td><td>31923.192000</td><td
          >41158.872000</td
        >
      </tr>
      <tr>
        <td>27849.357555</td><td>40078.861096</td><td>27849.698000</td><td
          >40079.585000</td
        >
      </tr>
      <tr>
        <td>34161.801847</td><td>39183.501910</td><td>34160.854000</td><td
          >39182.684000</td
        >
      </tr>
      <tr>
        <td>26199.298375</td><td>29165.883877</td><td>26201.096000</td><td
          >29162.615000</td
        >
      </tr>
      <tr>
        <td>30112.851089</td><td>30399.172273</td><td>30115.887000</td><td
          >30396.332000</td
        >
      </tr>
      <tr>
        <td>26872.975485</td><td>33715.556913</td><td>26870.376000</td><td
          >33720.254000</td
        >
      </tr>
      <tr>
        <td>32402.048391</td><td>33827.002766</td><td>32402.145000</td><td
          >33831.647000</td
        >
      </tr>
      <tr>
        <td>18441.481054</td><td>37627.874561</td><td>18439.131000</td><td
          >37637.038000</td
        >
      </tr>
      <tr>
        <td>20060.455539</td><td>37633.854429</td><td>20056.994000</td><td
          >37641.547000</td
        >
      </tr>
      <tr>
        <td>28395.285920</td><td>35292.191395</td><td>28393.894000</td><td
          >35297.695000</td
        >
      </tr>
      <tr>
        <td>33318.061215</td><td>33959.571497</td><td>33318.514000</td><td
          >33963.673000</td
        >
      </tr>
      <tr>
        <td>39119.853755</td><td>35292.145326</td><td>39120.849000</td><td
          >35295.427000</td
        >
      </tr>
      <tr>
        <td>25924.490104</td><td>37576.673899</td><td>25921.793000</td><td
          >37578.747000</td
        >
      </tr>
      <tr>
        <td>38070.845872</td><td>33914.624854</td><td>38071.465000</td><td
          >33917.106000</td
        >
      </tr>
      <tr>
        <td>30317.834972</td><td>32547.380161</td><td>30320.094000</td><td
          >32550.253000</td
        >
      </tr>
      <tr>
        <td>46046.989943</td><td>36576.684815</td><td>46050.197000</td><td
          >36575.296000</td
        >
      </tr>
      <tr>
        <td>37820.398254</td><td>31909.670129</td><td>37820.482000</td><td
          >31907.980000</td
        >
      </tr>
      <tr>
        <td>22500.401575</td><td>33376.304557</td><td>22499.607000</td><td
          >33379.141000</td
        >
      </tr>
    </table>
  </Fragment>
</Layout>
