---
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="Historical Maps of Singapore: About - NUS Libraries - Digitised by Department of Geography, National University of Singapore"
>
  <Fragment slot="content">
    <h2 class="mt-4">About</h2>
    <p>
      This website is maintained by National University of Singapore (NUS)
      Libraries to support research and teaching. The maps in this website were
      scanned and georeferenced by Department of Geography, NUS, with kind
      permission from Singapore Land Authority and Ministry of Defence for NUS
      Libraries to provide viewing of the map services over the internet.
    </p>
    <p>
      Should you have feedback or enquiries, please contact
      <a href="mailto:techcentral@nus.edu.sg">techcentral@nus.edu.sg</a>.
    </p>

    <h3>Website Credits</h3>
    <table>
      <tr>
        <th
          >data migration, system architecture, UX design and implementation</th
        >
        <td>Gaetan Boisson</td>
      </tr>
      <tr>
        <th>Systems Support</th>
        <td>Ashton Tay, Tan Cher Ern, NUS IT</td>
      </tr>
      <tr>
        <th>User testing, copy and guidance</th>
        <td
          >Richard Ho, Michelle Song Yun Quak, Steven Dick Mun Chow, Magdeline
          Tao Tao Ng</td
        >
      </tr>

      <tr><th>The original project was delivered by the following team:</th></tr
      >
      <tr>
        <th>Map Georeferencing and Digitisation</th>
        <td>
          Dr. Rick Ick-Hoi Kim, Raymond Huang Jinliang, A/P Feng Chen-Chieh, A/P
          Wang Yi-Chen and Prof. David Taylor, with the support of NUS Strategic
          Initiative
        </td>
      </tr>
      <tr>
        <th>Technical Consultants</th>
        <td>Dr. Rick Ick-Hoi Kim, Raymond Huang Jinliang</td>
      </tr>
      <tr>
        <th>Cartographic History Consultant</th>
        <td>Mok Ly Yng</td>
      </tr>
      <tr>
        <th>Systems Support</th>
        <td>Ng Boon Hwee, Aria Wenda Ongkowinoto, NUS IT</td>
      </tr>
      <tr>
        <th>Map Service Publishing</th>
        <td>Emily Sugerman, Estella Ye, Richard Ho, Feng Yikang</td>
      </tr>
      <tr>
        <th>Map Mosaicking</th>
        <td>Esther Ng, Feng Yikang</td>
      </tr>
      <tr>
        <th>Metadata</th>
        <td>
          Dr. Rick Ick-Hoi Kim, Kelman Chiang, Esther Ng, Estella Ye, Feng
          Yikang
        </td>
      </tr>
      <tr>
        <th>Administration</th>
        <td>
          Dr. Sim Chuin Peng, Tan Geok Kee, Gerrie Kow, Yow Wei Chui, Foo Yan
          Chuin, Loh Yuexia, Feng Yikang
        </td>
      </tr>
      <tr>
        <th>Website Coordinator</th>
        <td>Feng Yikang</td>
      </tr>
    </table>
  </Fragment>
</Layout>
