---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Terms of Use">
  <Fragment slot="content">
    <p>
      Please read these terms and conditions carefully. A reference to this
      "website" is to https://libmaps.nus.edu.sg including but not limited to
      the information, text, images, links, sound, graphics and video sequences
      displayed herein (the "Materials"). By accessing this website and any
      pages thereof, you agree to be bound by the terms and conditions below. If
      you do not agree to the terms and conditions below, do not access this
      site or any pages thereof.
    </p>
    <ol>
      <li>
        The maps in this website are not suitable for precision positioning nor
        navigation.
      </li>
      <li>
        No Warranty for the website and/or the Materials
        <ul>
          <li>
            This website and the Materials are provided "as is", "as available".
            NUS LIBRARIES HISTORICAL MAPS OF SINGAPORE (NUSLHMSG) does not
            warrant the accuracy, adequacy or completeness of this website
            and/or the Materials and expressly disclaims liability for errors or
            omissions in the Materials. No warranty of any kind, implied,
            express or statutory, including but not limited to the warranties of
            non-infringement of third party rights, title, merchantability,
            satisfactory quality and/or fitness for a particular purpose, is
            given in conjunction with the Materials and/or this website.
          </li>
          <li>
            The NUSLHMSG does not warrant that any of the Materials or that this
            website will be provided uninterrupted or free from errors or that
            any identified defect will be corrected; further, no warranty is
            given that this website and the Materials are free from any virus or
            other malicious, destructive or corrupting code, programme, agent or
            macro.
          </li>
        </ul>
      </li>
      <li>
        Intellectual Property
        <ul>
          <li>
            All content included on this site, such as text, graphics, logos,
            button icons, images, audio clips, digital downloads, data
            compilations, and software, is the property of NUSLHMSG or its
            content suppliers and protected by Singapore and international
            copyright laws. The compilation of all content on this site is the
            exclusive property of NUSLHMSG and protected by Singapore and
            international copyright laws. All software used on this site is the
            property of NUSLHMSG or its software suppliers and/or affiliates and
            is protected by Singapore and international copyright laws. All
            contents on this website, both textual and graphic, are copyrighted
            by NUSLHMSG, unless otherwise noted.
          </li>
          <li>
            The copyright of the maps in this website is owned by its respective
            licensor(s). No part or parts hereof may be reproduced, adapted,
            modified, republished or stored in an information retrieval system
            without the prior written permission of copyright owners. You also
            may not, without the permission of NUSLHMSG, "mirror" any Material
            contained on this website on any other server.
          </li>
          <li>
            NUSLHMSG and its affiliates respect the intellectual property of
            others. If you believe that your work has been copied in a way that
            constitutes copyright infringement, please inform the Intellectual
            Property Office of Singapore.
          </li>
        </ul>
      </li>
      <li>
        Non-Confidentiality
        <p>
          You agree that all information and/or particulars sent or submitted by
          you to NUSLHMSG in relation to the access of this website is
          non-confidential and non-proprietary unless otherwise expressly
          indicated by you. You further undertake not to submit any information
          and/or other materials which are or may be offensive, illegal or which
          may not be lawfully disseminated under the laws of Singapore or any
          other relevant country.
        </p>
      </li>
      <li>
        Exclusion of Liability (General Disclaimer)
        <p>
          NUSLHMSG shall in no event be liable for any damages, loss or expense
          including without limitation, direct, indirect, special, or
          consequential damage, or economic loss arising from or in connection
          with:
        </p>
        <ul>
          <li>
            any access, use or the inability to access or use this website, or
            reliance on the Materials and/or any information in this website;
          </li>
          <li>
            any system, server or connection failure, error, omission,
            interruption, delay in transmission, or computer virus; and
          </li>
          <li>
            any use of or access to any other website linked to this website.
          </li>
        </ul>
        <p>
          Even if NUSLHMSG or its agents or employees are advised of the
          possibility of such damages, losses and/or expenses. Any hyperlinks to
          any other websites are not an endorsement or verification of such
          websites and such websites should only be accessed at the user's own
          risks. This exclusion clause shall take effect to the fullest extent
          permitted by law.
        </p>
        <p>
          The NUSLHMSG maintains a set of information repositories, and provides
          access to the data in these repositories. In addition, NUSLHMSG
          interoperates with other, related libraries, databases, content
          providers, etc that provide information, videos, images, e-books, etc,
          and may make use of the data and services of these other organizations
          in providing the result for a query.
        </p>
        <p>
          NUSLHMSG makes no representation, explicit or otherwise, about the
          completeness, accuracy, or consistency of the data in these
          repositories, of the integrity of the services NUSLHMSG provides, or
          of those with which NUSLHMSG interoperate. Virtually most of the data
          in NUSLHMSG repositories originates elsewhere, and NUSLHMSG cannot
          guarantee its correctness, nor does NUSLHMSG guarantee that the
          processing NUSLHMSG performs on these data is free from errors.
        </p>
        <p>
          While NUSLHMSG attempts to provide accurate data and services, and are
          continually correcting errors upon discovery, individuals concerned
          with the correctness or accuracy of individual data items are advised
          to seek independent verification of such data.
        </p>
        <p>
          NUSLHMSG makes this data available for the purpose of research and
          experimentation. Some of the particular collections to which NUSLHMSG
          provides access contain restrictions about repackaging, commercial
          use, or other aspects of the use. These restrictions are stated
          elsewhere and NUSLHMSG disclaims any liabilities associated with the
          NUSLHMSG user's breach of these restrictions. Additionally, NUSLHMSG
          categorically disclaims any damages, losses, and/or financial losses
          suffered by the NUSLHMSG users as a result of users' lack of taking
          notice of these restrictions or ignorance thereof.
        </p>
      </li>
      <li>
        Electronic Communications
        <p>
          When you visit NUSLHMSG or send e-mails to us, you are communicating
          with us electronically. You consent to receive communications from us
          electronically. We will communicate with you by e-mail or by posting
          notices on this site. You agree that all agreements, notices,
          disclosures and other communications that we provide to you
          electronically satisfy any legal requirement that such communications
          be in writing.
        </p>
      </li>
      <li>
        Site Policies, Modification, and Severability
        <p>
          We reserve the right to make changes to our site, policies, and these
          Conditions of Use at any time. If any of these conditions shall be
          deemed invalid, void, or for any reason unenforceable, that condition
          shall be deemed severable and shall not affect the validity and
          enforceability of any remaining condition.
        </p>
      </li>
    </ol>
  </Fragment>
</Layout>
